<div class="container">
  @if (zone) {
    <mat-card class="container-item zone-form">
      <mat-card-content>
        <form [formGroup]="zoneForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="column">
            <mat-form-field>
              <mat-label i18n="@@name">Name</mat-label>
              <input
                matInput
                i18n-placeholder="@@name"
                placeholder="Name"
                formControlName="name"
                required
                maxlength="32"
                />
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n="@@description">Description</mat-label>
              <textarea
                matInput
                i18n-placeholder="@@description"
                placeholder="Description"
                formControlName="description"
                required
              ></textarea>
            </mat-form-field>
          </div>
          <mat-checkbox
            formControlName="disarmedAlert"
            color="primary"
            (change)="alertWhenChanged($event, 'disarmedDelay')"
            i18n="@@zone alert when disarmed"
            >
          Alert when disarmed
        </mat-checkbox>
          @if (zoneForm.get('disarmedAlert').value) {
            <div class="row">
              <mat-form-field>
                <mat-label i18n="@@zone disarmed delay field">Disarmed delay</mat-label>
                <input
                  matInput
                  type="number"
                  i18n-placeholder="@@zone disarmed delay"
                  placeholder="Delay alert when not armed"
                  formControlName="disarmedDelay"
                  />
                @if (zoneForm.get('disarmedDelay').invalid) {
                  <mat-error>
                    {{ zoneForm.get('disarmedDelay').getError('invalid') }}
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }
          <mat-divider></mat-divider>
          <mat-checkbox
            formControlName="awayArmedAlert"
            color="primary"
            (change)="alertWhenChanged($event, 'awayAlertDelay')"
            i18n="@@zone alert when away"
            >
          Alert when away armed
        </mat-checkbox>
          @if (zoneForm.get('awayArmedAlert').value) {
            <div class="row">
              <mat-form-field class="row-item">
                <mat-label i18n="@@zone away alert delay field">Away alert delay</mat-label>
                <input
                  matInput
                  type="number"
                  i18n-placeholder="@@zone away alert delay"
                  placeholder="Delay alert when armed away"
                  formControlName="awayAlertDelay"
                  />
                @if (zoneForm.get('awayAlertDelay').invalid) {
                  <mat-error>
                    {{ zoneForm.get('awayAlertDelay').getError('invalid') }}
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="row-item">
                <mat-label i18n="@@zone away arm delay field">Away arm delay</mat-label>
                <input
                  matInput
                  type="number"
                  i18n-placeholder="@@zone away arm delay"
                  placeholder="Delay arm when arming away"
                  formControlName="awayArmDelay"
                  />
                @if (zoneForm.get('awayArmDelay').invalid) {
                  <mat-error>
                    {{ zoneForm.get('awayArmDelay').getError('invalid') }}
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }
          <mat-divider></mat-divider>
          <mat-checkbox
            formControlName="stayArmedAlert"
            color="primary"
            (change)="alertWhenChanged($event, 'stayAlertDelay')"
            i18n="@@zone alert when stay"
            >
          Alert when stay armed
        </mat-checkbox>
          @if (zoneForm.get('stayArmedAlert').value) {
            <div class="row">
              <mat-form-field class="row-item">
                <mat-label i18n="@@zone stay delay field">Stay alert delay</mat-label>
                <input
                  matInput
                  type="number"
                  i18n-placeholder="@@zone stay delay"
                  placeholder="Delay alert when armed stay"
                  formControlName="stayAlertDelay"
                  />
                @if (zoneForm.get('stayAlertDelay').invalid) {
                  <mat-error>
                    {{ zoneForm.get('stayAlertDelay').getError('invalid') }}
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="row-item">
                <mat-label i18n="@@zone stay arm delay field">Stay arm delay</mat-label>
                <input
                  matInput
                  type="number"
                  i18n-placeholder="@@zone stay arm delay"
                  placeholder="Delay arm when arming stay"
                  formControlName="stayArmDelay"
                  />
                @if (zoneForm.get('stayArmDelay').invalid) {
                  <mat-error>
                    {{ zoneForm.get('stayArmDelay').getError('invalid') }}
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button
          mat-icon-button
          color="primary"
          [disabled]="zoneForm.invalid || monitoringState != monitoringStates.READY"
          (click)="onSubmit()"
          >
          <mat-icon>save</mat-icon>
        </button>
        @if (zoneId > 0) {
          <button
            mat-icon-button
            color="warn"
            type="button"
            (click)="openDeleteDialog(zone.id)"
            [disabled]="getSensors().length > 0 || monitoringState != monitoringStates.READY"
            >
            <mat-icon>delete</mat-icon>
          </button>
        }
        <button mat-icon-button color="accent" type="button" (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }

  @if (zone === null) {
    <div class="container-item">
      <h1 i18n="@@zone not found">The zone was not found!</h1>
    </div>
  }
</div>
