<div *ngIf="sensors != null">
  <div cdkDropList 
    *ngIf="sensors.length > 0; else no_sensors"
    class="sensor-list"
    fxLayout="column"
    fxLayoutGap="20px"
    (cdkDropListDropped)="onDrop($event)">

    <mat-card cdkDrag
      (cdkDragStarted)="onDragStarted($event)"
      id="sensor-{{sensor.id}}"
      *ngFor="let sensor of sensors"
      [ngClass.gt-xs]="{'disabled': !sensor.enabled, 'sensor-card': true, 'sensor-card-large': true}"
      [ngClass.xs]="{'disabled': !sensor.enabled, 'sensor-card': true, 'sensor-card-xs': true}">
        
      <mat-card-content fxLayout="row" fxLayoutAlign="space-evenly center">
        <div
          [ngSwitch]="sensor.typeId"
          [ngClass.xs]="{'sensor-image-small': true, 'alerting': sensor.alert}"
          [ngClass.gt-xs]="{'sensor-image': true, 'alerting': sensor.alert}"
        >
          <img *ngSwitchCase="1" src="assets/images/sensor_motion.png"/>
          <img *ngSwitchCase="2" src="assets/images/sensor_tamper.png"/>
          <img *ngSwitchCase="3" src="assets/images/sensor_open.png"/>
          <img *ngSwitchCase="4" src="assets/images/sensor_break.png"/>
          <img *ngSwitchDefault src="https://via.placeholder.com/100?text={{getSensorTypeName(sensor.typeId)}}"/>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-card-title>
            {{sensor.description}}
          </mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-list class="attribute-list first-column">
              <mat-list-item>
                <mat-icon mat-list-icon [ngSwitch]="sensor.typeId">
                  <img ngClass="sensor-icon" *ngSwitchCase="1" src="assets/images/sensor_motion.png"/>
                  <img ngClass="sensor-icon" *ngSwitchCase="2" src="assets/images/sensor_tamper.png"/>
                  <img ngClass="sensor-icon" *ngSwitchCase="3" src="assets/images/sensor_open.png"/>
                  <img ngClass="sensor-icon" *ngSwitchCase="4" src="assets/images/sensor_break.png"/>
                  <img ngClass="sensor-icon" *ngSwitchDefault src="https://via.placeholder.com/100?text={{getSensorTypeName(sensor.typeId)}}"/>
                </mat-icon>
                <div [ngSwitch]="sensor.typeId">
                  <span *ngSwitchCase="1" i18n="@@sensor motion">Motion</span>
                  <span *ngSwitchCase="2" i18n="@@sensor tamper">Tamper</span>
                  <span *ngSwitchCase="3" i18n="@@sensor open">Open</span>
                  <span *ngSwitchCase="4" i18n="@@sensor break">Break</span>
                  <span *ngSwitchDefault i18n="@@sensor unknown">Unknown</span>
                </div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon *ngIf="sensor.channel !== -1" class="material-icons-outlined">power</mat-icon>
                <mat-icon mat-list-icon *ngIf="sensor.channel === -1" class="material-icons-outlined">power_off</mat-icon>
                <div *ngIf="sensor.channel !== -1">
                  <span>CH{{ sensor.channel + 1 | number: '2.0-0'}}</span>
                </div>
                <div *ngIf="sensor.channel === -1">
                  <span>-</span>
                </div>
              </mat-list-item>
                  
              <mat-list-item>
                <mat-icon mat-list-icon *ngIf="sensor.enabled" class="sensor-status-icon-enabled material-icons-outlined">check_circle</mat-icon>
                <mat-icon mat-list-icon *ngIf="!sensor.enabled" class="sensor-status-icon-disabled material-icons-outlined">circle</mat-icon>
                <div *ngIf="sensor.enabled">
                  <span i18n="@@sensor enabled">Enabled</span>
                </div>
                <div *ngIf="!sensor.enabled">
                  <span i18n="@@sensor disable">Disabled</span>
                </div>
              </mat-list-item>
            </mat-list>
            
            <mat-list class="attribute-list second-column">
              <mat-list-item>
                <mat-icon mat-list-icon class="material-icons-outlined">crop</mat-icon>
                <span class="long-field">{{getAreaName(sensor.areaId)}}</span>
              </mat-list-item>
      
              <mat-list-item>
                <mat-icon mat-list-icon class="material-icons-outlined">rectangle</mat-icon>
                <span *ngIf="sensor.channel !== -1" class="long-field">{{getZoneName(sensor.zoneId)}}</span>
                <span *ngIf="sensor.channel === -1" class="long-field">-</span>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon *ngIf="!sensor.uiHidden" class="sensor-status-icon-show material-icons-outlined">visibility</mat-icon>
                <mat-icon mat-list-icon *ngIf="sensor.uiHidden" class="sensor-status-icon-hide material-icons-outlined">visibility_off</mat-icon>
                <span *ngIf="sensor.uiHidden" i18n="@@sensor hidden">Hidden</span>
                <span *ngIf="!sensor.uiHidden" i18n="@@sensor visible">Visible</span>
              </mat-list-item>
      
            </mat-list>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions [fxShow]="userCanEdit()">
        <!-- drag and drop icon button-->
        <button mat-icon-button cdkDragHandle class="drag-handle" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>drag_indicator</mat-icon></button>
        <button mat-icon-button [routerLink]="['/sensor', sensor.id]" color="primary" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button (click)="onResetReferences(sensor.id)" color="accent" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>refresh</mat-icon></button>
        <button mat-icon-button (click)="openDeleteDialog(sensor.id)" color="warn" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #no_sensors>
    <div ngClass.gt-xs="sensor-list" ngClass.xs="sensor-list-xs">
      <h1 class="empty"  i18n="@@sensor none">No sensors found</h1>
    </div>
  </ng-template>
  
</div>

<div ngClass.gt-xs="sensor-actions" ngClass.xs="sensor-actions-xs" [fxShow]="userCanEdit()">
  <button class="sensor-action" mat-fab color="accent" [disabled]="monitoringState != monitoringStates.READY" (click)="onResetReferences()" fxShow.xs="false"><mat-icon mat-list-icon>refresh</mat-icon></button>
  <button class="sensor-action" mat-fab color="accent" routerLink="/sensor/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
  <button class="sensor-action" mat-mini-fab color="accent" [disabled]="monitoringState != monitoringStates.READY" (click)="onResetReferences()" fxShow.gt-xs="false"><mat-icon mat-list-icon>refresh</mat-icon></button>
  <button class="sensor-action" mat-mini-fab color="accent" routerLink="/sensor/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.gt-xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>
