<div class="sensor-detail" fxLayout="row" fxLayoutAlign="center" [fxShow]="sensor !== null">
  <form *ngIf="sensor; else not_found" class="sensor-form" [formGroup]="sensorForm" (ngSubmit)="onSubmit(sensorForm.value)" novalidate
        fxLayout="column" fxFlex.xl="600px" fxFlex.lg="600px" fxFlex.md="600px" fxFlex.sm="600px" fxFlex.xs="100%">

    <mat-form-field>
      <mat-select formControlName="channel" placeholder="Channel">
        <mat-option *ngFor="let channel of channels" [value]="channel">CH {{ channel }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="type_id" placeholder="Sensor type">
        <mat-option *ngFor="let type of sensorTypes" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="enabled" color="primary">Enabled</mat-checkbox>

    <mat-form-field>
      <mat-select formControlName="zone_id" placeholder="Zone" (selectionChange)="onZoneSelected($event)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let zone of zones" [value]="zone.id">{{zone.name}}</mat-option>
        <mat-option value="new">New</mat-option>
      </mat-select>
    </mat-form-field>

    <div [formGroup]="zoneForm" [fxHide]="!new_zone">
      <mat-form-field>
        <input matInput placeholder="Zone name" formControlName="zone_name"/>
      </mat-form-field>

      <mat-checkbox formControlName="disarmed_alert" color="primary" (change)="alertWhenChanged($event, 'disarmed_delay')">Alert when disarmed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('disarmed_alert').value">
        <input matInput placeholder="Delay alert when not armed" formControlName="disarmed_delay">
        <mat-error *ngIf="zoneForm.get('disarmed_delay').invalid">{{zoneForm.get('disarmed_delay').getError('invalid')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="away_armed_alert" color="primary" (change)="alertWhenChanged($event, 'away_delay')">Alert when away armed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('away_armed_alert').value">
        <input matInput placeholder="Delay alert when armed away" formControlName="away_delay">
        <mat-error *ngIf="zoneForm.get('away_delay').invalid">{{zoneForm.get('away_delay').getError('invalid')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="stay_armed_alert" color="primary" (change)="alertWhenChanged($event, 'stay_delay')">Alert when stay armed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('stay_armed_alert').value">
        <input matInput placeholder="Delay alert when armed stay" formControlName="stay_delay">
        <mat-error *ngIf="zoneForm.get('stay_delay').invalid">{{zoneForm.get('stay_delay').getError('invalid')}}</mat-error>
      </mat-form-field>
    </div>

    <div >
      <button mat-raised-button color="primary" [disabled]="sensorForm.invalid || monitoringState != MonitoringState.READY"
        i18n="@@save button">Save</button>
      <button *ngIf="sensorId > 0" mat-raised-button color="warn" type="button" (click)="openDeleteDialog(sensor.id)" [disabled]="monitoringState != MonitoringState.READY"
        i18n="@@remove button">Remove</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()"
        i18n="@@cancel button">Cancel</button>
    </div>

  </form>
  <ng-template #not_found>
    <h1>Sensor not found!</h1>
  </ng-template>
</div>