<div *ngIf="sensors != null">
  <div *ngIf="sensors.length > 0; else no_sensors" ngClass.gt-xs="sensor-list" ngClass.xs="sensor-list-xs" fxLayout="column" fxLayoutGap="20px">
    <mat-card id="sensor-{{sensor.id}}" *ngFor="let sensor of sensors" [ngClass]="{'disabled': !sensor.enabled}">
      <mat-card-header>
        <div mat-card-avatar [ngSwitch]="sensor.typeId" 
            [ngClass]="{'sensor-image': true, 'alerting': sensor.alert}">
          <img *ngSwitchCase="1" src="assets/images/sensor_motion.png"/>
          <img *ngSwitchCase="2" src="assets/images/sensor_tamper.png"/>
          <img *ngSwitchCase="3" src="assets/images/sensor_open.png"/>
          <img *ngSwitchCase="4" src="assets/images/sensor_break.png"/>
          <img *ngSwitchDefault src="https://via.placeholder.com/100?text={{getSensorTypeName(sensor.typeId)}}"/>
        </div>

        <mat-card-title ngClass.xs="sensor-title-sm">
            {{sensor.description}}
        </mat-card-title>

        <mat-card-subtitle>
          <div *ngIf="sensor.enabled && sensor.channel === -1">
            <mat-icon mat-list-icon class="sensor-status-icon">done</mat-icon><span i18n="@@sensor enabled and disconnected">Enabled and disconnected</span>
          </div>
          <div *ngIf="!sensor.enabled && sensor.channel === -1">
            <mat-icon mat-list-icon class="sensor-status-icon">clear</mat-icon><span i18n="@@sensor disabled and disconnected">Disabled and disconnected</span>
          </div>
          <div *ngIf="sensor.enabled && sensor.channel !== -1">
            <mat-icon mat-list-icon class="sensor-status-icon">done</mat-icon><span i18n="@@sensor enabled on channel">Enabled on input channel CH{{ sensor.channel + 1 | number: '2.0-0'}}</span>
          </div>
          <div *ngIf="!sensor.enabled && sensor.channel !== -1">
            <mat-icon mat-list-icon class="sensor-status-icon">clear</mat-icon><span i18n="@@sensor disabled on channel">Disabled on input channel CH{{ sensor.channel + 1 | number: '2.0-0'}}</span>
          </div>
        </mat-card-subtitle>

        <mat-card-subtitle>
          <span i18n="@@sensor zone">Zone</span>&nbsp;{{getZoneName(sensor.zoneId)}}
          <button mat-button [routerLink]="['/zone', sensor.zoneId]" routerLinkActive="active" color="accent" [fxShow]="userCanEdit() && monitoringState === monitoringStates.READY"><mat-icon mat-list-icon>mode_edit</mat-icon></button>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions [fxShow]="userCanEdit()" align="end">
        <button mat-icon-button [routerLink]="['/sensor', sensor.id]" color="primary" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button (click)="openDeleteDialog(sensor.id)" color="warn" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #no_sensors>
    <div ngClass.gt-xs="sensor-list" ngClass.xs="sensor-list-xs">
      <h1 class="empty">No sensors found</h1>
    </div>
  </ng-template>
  
</div>

<div ngClass.gt-xs="sensor-actions" ngClass.xs="sensor-actions-xs" [fxShow]="userCanEdit()">
  <button class="sensor-action" mat-fab color="accent" [disabled]="monitoringState != monitoringStates.READY" (click)="onResetReferences()" fxShow.xs="false"><mat-icon mat-list-icon>refresh</mat-icon></button>
  <button class="sensor-action" mat-fab color="accent" routerLink="/sensor/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
  <button class="sensor-action" mat-mini-fab color="accent" [disabled]="monitoringState != monitoringStates.READY" (click)="onResetReferences()" fxShow.gt-xs="false"><mat-icon mat-list-icon>refresh</mat-icon></button>
  <button class="sensor-action" mat-mini-fab color="accent" routerLink="/sensor/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.gt-xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>
