<div *ngIf="sensor != null">
  <form *ngIf="sensor; else not_found" [formGroup]="sensorForm" (ngSubmit)="onSubmit()" novalidate
      ngClass.gt-xs="sensor-form" ngClass.xs="sensor-form-xs" fxLayout="column">

    <mat-form-field>
      <mat-select formControlName="channel" i18n-placeholder="@@sensor channel" placeholder="Channel">
        <mat-option *ngFor="let channel of orderedChannels()" [value]="channel.channel">
          <span *ngIf="channel.channel === -1" i18n="@@sensor disconnected">Disconnected</span>
          <span *ngIf="channel.channel !== -1">
            <span>CH{{ channel.channel + 1 | number: '2.0-0' }}</span>
            <span *ngIf="channel.sensor != null"> - {{channel.sensor.description}}</span>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="typeId" i18n-placeholder="@@sensor type" placeholder="Sensor type">
        <mat-option *ngFor="let type of sensorTypes" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput i18n-placeholder="@@description" placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="enabled" color="primary" i18n="@@sensor enabled">Enabled</mat-checkbox>

    <mat-form-field>
      <mat-select formControlName="zoneId" i18n-placeholder="@@sensor zone" placeholder="Zone" (selectionChange)="onZoneSelected($event)">
        <mat-option *ngFor="let zone of zones" [value]="zone.id">{{zone.name}}</mat-option>
        <mat-option [value]="-1" i18n="@@sensor new zone">New</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="sensor.zoneId === -1" [formGroup]="zoneForm" fxLayout="column">
      <mat-form-field>
        <input matInput i18n-placeholder="@@zone name" placeholder="Zone name" formControlName="zoneName" required/>
      </mat-form-field>

      <mat-checkbox formControlName="disarmedAlert" color="primary" (change)="alertWhenChanged($event, 'disarmedDelay')" i18n="@@sensor alert disarmed">Alert when disarmed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('disarmedAlert').value">
        <input matInput i18n-placeholder="@@zone disarmed delay" placeholder="Delay alert when not armed" formControlName="disarmedDelay">
        <mat-error *ngIf="zoneForm.get('disarmedDelay').invalid">{{zoneForm.get('disarmedDelay').getError('invalid')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="awayArmedAlert" color="primary" (change)="alertWhenChanged($event, 'awayDelay')" i18n="@@sensor alert away">Alert when away armed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('awayArmedAlert').value">
        <input matInput i18n-placeholder="@@zone away delay" placeholder="Delay alert when armed away" formControlName="awayDelay">
        <mat-error *ngIf="zoneForm.get('awayDelay').invalid">{{zoneForm.get('awayDelay').getError('invalid')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="stayArmedAlert" color="primary" (change)="alertWhenChanged($event, 'stayDelay')" i18n="@@sensor alert stay">Alert when stay armed</mat-checkbox>
      <mat-form-field [fxShow]="zoneForm.get('stayArmedAlert').value">
        <input matInput i18n-placeholder="@@zone stay delay" placeholder="Delay alert when armed stay" formControlName="stayDelay">
        <mat-error *ngIf="zoneForm.get('stayDelay').invalid">{{zoneForm.get('stayDelay').getError('invalid')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="sensorForm.invalid || monitoringState != MonitoringState.READY"
        i18n="@@save button">Save</button>
      <button *ngIf="sensorId > 0" mat-raised-button color="warn" type="button" (click)="openDeleteDialog(sensor.id)" [disabled]="monitoringState != MonitoringState.READY"
        i18n="@@remove button">Remove</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()"
        i18n="@@cancel button">Cancel</button>
    </div>

  </form>
  <ng-template #not_found>
    <h1 i18n="@@sensor not found">Sensor not found!</h1>
  </ng-template>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='create'" i18n="@@failed create">Failed to create!</span>
  <span *ngIf="action=='update'" i18n="@@failed update">Failed to update!</span>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>