.sensor-detail {
  max-height: none !important;
  padding: 10px;
}

form {
  margin: 15px 0px;
}

.mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 15px 0px 10px 0px;
}

.hide {
  display: none;
}