@charset "UTF-8";

.sensor-list {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;

  .empty {
    text-align: center;
  }
}

.sensor-list-xs {
  padding: 5px;
  width: 100%;
}

.sensor-title-sm {
  display: inline-block;
}

.sensor-image {
  width: 120px;
  height: 120px;
}

.sensor-image img {
  width: 100%;
  height: 100%;
}

.sensor-status-icon {
  vertical-align: bottom;
}

.sensor-actions {
  position: fixed;
  bottom: 84px;
  right: 20px;
  float: right;
}

.sensor-actions-xs {
  position: fixed;
  bottom: 65px;
  right: 20px;
  float: right;
}

.sensor-action {
  margin: 5px 0px;
  float: left;
  clear: both;
}

.disabled {
  background-color: lightgray;
}

.alerting {
  background-color: red;
  border-radius: 10px;
}