<div *ngIf="outputs != null" class="container output-list">

  <div cdkDropList *ngIf="outputs.length > 0; else no_outputs"
    (cdkDropListDropped)="onDrop($event)">

    <mat-card
      id="output-{{output.id}}"
      *ngFor="let output of outputs"
      cdkDrag
      (cdkDragStarted)="onDragStarted($event)"
      [cdkDragDisabled]="!userCanEdit()"
      class="output-card container-item"
      [ngClass]="{'disabled': !output.enabled}">

      <mat-card-content class="row">
        <div [ngSwitch]="getOutputType(output.channel)" class="output-image">
          <img *ngSwitchCase="outputTypes.OUTPUT" src="assets/images/output_oc.png" />
          <img *ngSwitchCase="outputTypes.RELAY" src="assets/images/output_relay.png" />
          <img *ngSwitchCase="null" src="assets/images/disconnected.png" />
          <img *ngSwitchDefault src="https://via.placeholder.com/100?text={{getOutputLabel(output.channel)}}" />
        </div>

        <div class="column">
          <mat-card-title>
            {{output.name}}
          </mat-card-title>

          <div class="row">

            <mat-list class="attribute-list first-column">
              <mat-list-item>
                <mat-icon matListItemIcon class="material-icons-outlined">label</mat-icon>
                <span *ngIf="output.channel !== null">{{getOutputLabel(output.channel)}}</span>
                <span *ngIf="output.channel === null" i18n="@@output disconnected">Disconnected</span>
              </mat-list-item>
              <mat-list-item [ngSwitch]="output.triggerType">
                <mat-icon matListItemIcon class="material-icons-outlined">start</mat-icon>
                <mat-icon *ngSwitchCase="outputTriggerTypes.AREA" matListItemIcon
                  class="material-icons-outlined">crop</mat-icon>
                <mat-icon *ngSwitchCase="outputTriggerTypes.SYSTEM" matListItemIcon
                  class="material-icons-outlined">home</mat-icon>
                <mat-icon *ngSwitchCase="outputTriggerTypes.BUTTON" matListItemIcon
                  class="material-icons-outlined">touch_app</mat-icon>
              </mat-list-item>
              <mat-list-item *ngIf="output.triggerType==outputTriggerTypes.AREA">
                <mat-icon matListItemIcon class="material-icons-outlined">crop</mat-icon>
                <span *ngIf="output.areaId">{{getAreaName(output.areaId)}}</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon *ngIf="output.enabled"
                  class="output-status-icon-enabled material-icons-outlined">check_circle</mat-icon>
                <mat-icon matListItemIcon *ngIf="!output.enabled"
                  class="material-icons-outlined">circle</mat-icon>
                <div *ngIf="output.enabled">
                  <span i18n="@@sensor enabled">Enabled</span>
                </div>
                <div *ngIf="!output.enabled">
                  <span i18n="@@sensor disable">Disabled</span>
                </div>
              </mat-list-item>
            </mat-list>

            <mat-list class="attribute-list second-column">
              <mat-list-item>
                <mat-icon matListItemIcon>swap_vert</mat-icon>
                <mat-icon *ngIf="!output.defaultState" class="material-icons-outlined">radio_button_unchecked</mat-icon>
                <mat-icon *ngIf="output.defaultState" class="material-icons-outlined">radio_button_checked</mat-icon>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon class="material-icons-outlined">timer</mat-icon>
                <span>{{output.delay}}s</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon class="material-icons-outlined">timelapse</mat-icon>
                <span>{{output.duration !== null ? output.duration + 's' : '&nbsp;-&nbsp;' }}</span>
              </mat-list-item>

            </mat-list>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content  *ngIf="output.description">
        <mat-card-title-group>
          <mat-card-subtitle>
            {{output.description}}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-content>

      <mat-divider *ngIf="userCanEdit()"></mat-divider>

      <mat-card-actions *ngIf="userCanEdit()">
        <!-- drag and drop icon button-->
        <button mat-icon-button cdkDragHandle class="drag-handle"
          [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>drag_indicator</mat-icon></button>
        <button mat-icon-button [routerLink]="['/output', output.id]" color="primary"
          [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button (click)="openDeleteDialog(output.id)" color="warn"
          [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #no_outputs>
    <div class="output-list">
      <h1 class="empty" i18n="@@output none">No outputs found</h1>
    </div>
  </ng-template>

</div>

<div class="list-actions" *ngIf="userCanEdit()">
  <button class="list-action" mat-fab color="accent" routerLink="/output/add"
    [disabled]="monitoringState != monitoringStates.READY"><mat-icon
      matListItemIcon>add</mat-icon></button>
  <button class="list-action" mat-mini-fab color="accent" routerLink="/output/add"
    [disabled]="monitoringState != monitoringStates.READY"><mat-icon
      matListItemIcon>add</mat-icon></button>
</div>
