@use "@angular/material" as mat;

.system-states {
  display: flex;
  gap: 3px;
  flex-direction: row;

  .mat-mdc-chip {
    margin: 0px;
  }

  .states {
    // rounded border with opaque background
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;

    .mat-icon {
      vertical-align: text-bottom;
    }
  }
}

@mixin system-state-indicator-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  /* states */
  .mat-icon.normal {
    color: mat.m2-get-color-from-palette($argus-ok);
  }

  .mat-icon.warning {
    color: mat.m2-get-color-from-palette($argus-warn);
  }

  .mat-icon.danger {
    color: mat.m2-get-color-from-palette($argus-alert);
  }

  .mat-mdc-chip.normal {
    background-color: mat.m2-get-color-from-palette($argus-ok);
  }

  .mat-mdc-chip.warning {
    background-color: mat.m2-get-color-from-palette($argus-warn);
  }

  .mat-mdc-chip.danger {
    background-color: mat.m2-get-color-from-palette($argus-alert);
  }
}

.small-screen .system-state-desktop {
  display: none;
}

.large-screen .system-state-mobile {
  display: none;
}
