.states {
  // rounded border with opaque background
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px;
}

.mat-icon {
  vertical-align: text-bottom;
}

@mixin system-state-indicator-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  /* states */
  .normal {
    color: mat.get-color-from-palette($argus-ok),
  }

  .warning {
    color: #ffb600;
  }

  .danger {
    color: mat.get-color-from-palette($argus-warn);
  }

  .mat-chip.normal {
    background-color: mat.get-color-from-palette($argus-ok),
  }

  .mat-chip.warning {
    background-color: #ffb600;
  }

  .mat-chip.danger {
    background-color: mat.get-color-from-palette($argus-warn);
  }
}
