.states {
  // rounded border with opaque background
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px;
}

.mat-icon {
  vertical-align: text-bottom;
}

@mixin system-state-indicator-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  /* states */
  .mat-icon.normal {
    color: mat.get-color-from-palette($argus-ok);
  }

  .mat-icon.warning {
    color: mat.get-color-from-palette($argus-warn);
  }

  .mat-icon.danger {
    color: mat.get-color-from-palette($argus-alert);
  }

  .mat-mdc-chip.normal {
    background-color: mat.get-color-from-palette($argus-ok),
  }

  .mat-mdc-chip.warning {
    background-color: mat.get-color-from-palette($argus-warn),
  }

  .mat-mdc-chip.danger {
    background-color: mat.get-color-from-palette($argus-alert);
  }
}

.small-screen .system-state-desktop {
  display: none;
}

.large-screen .system-state-mobile {
  display: none;
}