<div fxLayout="row" fxLayoutAlign="center" *ngIf="clock !== null">
  <form class="clock-form" [formGroup]="clockForm" (ngSubmit)="onSubmit()" fxFlex.gt-xs="600px" fxFlex.xs="100%">
    <mat-accordion class="full-width">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Time sources</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item class="clock">
            Network time <span class="spacer"></span> {{clock.network === null ? " - - - " : clock.network}}
          </mat-list-item>
            
          <mat-list-item class="clock">
            System time <span class="spacer"></span> {{clock.system === null ? " - - - " : clock.system}}
          </mat-list-item>
      
          <mat-list-item class="clock">
            Hardware time <span class="spacer"></span> {{clock.hw === null ? " - - - " : clock.hw}}
          </mat-list-item>
        </mat-list>

        <button mat-raised-button type="button" color="accent" class="full-width" (click)="onSynchronize()">Synchronize</button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manual settings</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="full-width">
          <mat-form-field class="half-width">
            <input matInput 
              placeholder="New date time"
              formControlName="dateTime"
              [owlDateTimeTrigger]="dt"
              [owlDateTime]="dt"
              firstDayOfWeek="2">
            <owl-date-time #dt></owl-date-time>
          </mat-form-field>
      
          <ng2-timezone-picker
            class="half-width"
            [(timezone)]="timeZone"
            placeholder="Select timezone"
            showOffset="true"
            guess="true">
          </ng2-timezone-picker>
        </div>
    
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
