<div fxLayout="row" fxLayoutAlign="center" *ngIf="clock !== null">
  <form class="clock-form" [formGroup]="clockForm" (ngSubmit)="onSubmit()"
      fxLayout="column" fxLayoutAlign="start end" fxFlex.gt-xs="600px" fxFlex.xs="100%">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Time sources</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="full-width" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <mat-card class="clock">
            <mat-card-header>
              <mat-card-title>Network time</mat-card-title>
              <mat-card-subtitle>{{clock.network === null ? " - - - " : clock.network}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
            
          <mat-card class="clock">
            <mat-card-header>
              <mat-card-title>System time</mat-card-title>
              <mat-card-subtitle>{{clock.system === null ? " - - - " : clock.system}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
      
          <mat-card class="clock">
            <mat-card-header>
              <mat-card-title>Hardware time</mat-card-title>
              <mat-card-subtitle>{{clock.hw === null ? " - - - " : clock.hw}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
    
        <button mat-raised-button type="button" color="accent" class="full-width" (click)="onSynchronize()">Synchronize</button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manual settings</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="full-width">
          <mat-form-field class="half-width">
            <input matInput 
              placeholder="New date time"
              formControlName="dateTime"
              [owlDateTimeTrigger]="dt"
              [owlDateTime]="dt"
              firstDayOfWeek="2">
            <owl-date-time #dt></owl-date-time>
          </mat-form-field>
      
          <ng2-timezone-picker
            class="half-width"
            [(timezone)]="timeZone"
            placeholder="Select timezone"
            showOffset="true"
            guess="true">
          </ng2-timezone-picker>
        </div>
    
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
