<div *ngIf="clock != null">
  <form [formGroup]="clockForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="clock-form" ngClass.xs="clock-form-xs" fxLayout="column" fxLayoutGap="20px">

    <mat-accordion class="full-width">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Time sources</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item class="clock">
            Network time <span class="spacer"></span> {{clock.network === null ? " - - - " : clock.network}}
          </mat-list-item>
            
          <mat-list-item class="clock">
            System time <span class="spacer"></span> {{clock.system === null ? " - - - " : clock.system}}
          </mat-list-item>
      
          <mat-list-item class="clock">
            Hardware time <span class="spacer"></span> {{clock.hw === null ? " - - - " : clock.hw}}
          </mat-list-item>
        </mat-list>

        <button mat-raised-button type="button" color="accent" class="full-width" (click)="onSynchronize()" [disabled]="monitoringState != MonitoringState.READY">Synchronize</button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manual settings</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="full-width">
          <mat-form-field class="half-width">
            <input matInput 
              placeholder="New date time"
              formControlName="dateTime"
              [owlDateTimeTrigger]="dt"
              [owlDateTime]="dt"
              firstDayOfWeek="2">
            <owl-date-time #dt></owl-date-time>
          </mat-form-field>
      
          <mat-form-field>
            <input type="text"
                   matInput
                   placeholder="Timezone"
                   formControlName="timezone"
                   required
                   [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup *ngFor="let group of timezoneGroupOptions | async" [label]="group.groupName">
                <mat-option *ngFor="let name of group.zoneNames" [value]="group.groupName+'/'+name">
                  {{group.groupName}}/{{name}}
                </mat-option>
              </mat-optgroup>
              <mat-option *ngFor="let name of timezoneUngrouppedOptions | async" [value]="name">
                {{name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != MonitoringState.READY">Save</button>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
