.scheme {
  width: 170px;
}

.domain {
  width: 500px;
}

.port {
  width: 160px;
}

.icon-accessible {
  color: #4caf50;
}

.icon-inaccessible {
  color: #f44336;
}

.status {
  .mat-icon {
    margin: 15px 0px;
  }


  .mat-spinner {
    margin: 15px 0px;
  }
}

.details {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: small;

  dt {
    float: left;
    clear: left;
    margin-right: 5px;
    width: 100px;
    font-weight: bold;
    text-align: right;
  }

  dd {
    margin-left: 10px;
  }

  .register {
    .mat-icon {
      vertical-align: middle;
      margin-top: -3px;
    }

    .text {
      display: inline-block;
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}
