<div class="container">
  <div *ngIf="installations">
    <form class="form-group" #installationsForm="ngForm" cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListDisabled]="!isMultiInstallation">

      <mat-card 
        id="installation-{{installation.id}}"
        *ngFor="let installation of installations; let i = index; trackBy:getInstallationKey"
        cdkDrag (cdkDragStarted)="onDragStarted($event)"
        class="container-item setup-form"
      >

      <mat-card-header *ngIf="!isMultiInstallation">
        <mat-card-title i18n="@@setup backend">Setup backend</mat-card-title>
          <mat-card-subtitle *ngIf="installation.version != null" i18n="@@setup version">Version: {{installation.version}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="installation.installationId !== null" class="status">
            <span *ngIf="isRegistered(installation.installationId) === true"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-accessible">check</mat-icon></span>
            <span *ngIf="isRegistered(installation.installationId) === false"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-inaccessible">error</mat-icon></span>
            <span *ngIf="isRegistered(installation.installationId) === null"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-inaccessible">question_mark</mat-icon></span>
          </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-header *ngIf="isMultiInstallation">
          <mat-card-title i18n="@@setup installation">Installation: {{installation.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="installation.installationId != null">ID: {{installation.installationId}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="installation.version != null" i18n="@@setup version">Version: {{installation.version}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="installation.installationId !== null" class="status">
            <span *ngIf="isRegistered(installation.installationId) === true"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-accessible">check</mat-icon></span>
            <span *ngIf="isRegistered(installation.installationId) === false"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-inaccessible">error</mat-icon></span>
            <span *ngIf="isRegistered(installation.installationId) === null"><span i18n="@@setup device registered">Device registered</span><mat-icon class="icon-inaccessible">question_mark</mat-icon></span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
          <div class="row">
            <mat-form-field>
              <mat-label i18n="@@setup name">Name</mat-label>
              <input matInput type="text" name="name_{{installation.id}}" class="form-control" [(ngModel)]="installation.name" maxlength="16" (change)="onTextChanged($event)">
            </mat-form-field>
          </div>
          
          <div class="row">
            <mat-form-field>
              <mat-label i18n="@@setup primary domain">Primary Domain</mat-label>
              <input matInput type="text" autocapitalize="off" name="primary-domain-{{installation.id}}" class="form-control" [(ngModel)]="installation.primaryDomain" (change)="onTextChanged($event)">
              <mat-hint *ngIf="showApiLink && getTestResult(i) !== null && getTestResult(i).primary === false">
                <a href="https://{{installation.primaryDomain}}:{{installation.primaryPort}}/api/version" target="_blank"><span i18n="@@setup check" class="no-wrap">Check API version and certificate</span><mat-icon>open_in_new</mat-icon></a>
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="port">
              <mat-label i18n="@@setup port">Port</mat-label>
              <input matInput type="number" name="primary-port-{{installation.id}}" class="form-control" [(ngModel)]="installation.primaryPort">
            </mat-form-field>

            <div *ngIf="getTestResult(i) !== null" class="status">
              <mat-icon *ngIf="getTestResult(i).primary === true" class="icon-accessible">check_circle</mat-icon>
              <mat-icon *ngIf="getTestResult(i).primary === false" class="icon-inaccessible">error</mat-icon>
              <mat-spinner *ngIf="getTestResult(i).primary === null" diameter="16"/>
            </div>

          </div>

          <div class="row">
            <mat-form-field>
              <mat-label i18n="@@setup secondary domain">Secondary Domain</mat-label>
              <input matInput type="text" autocapitalize="off" name="secondary-domain-{{installation.id}}" class="form-control" [(ngModel)]="installation.secondaryDomain" (change)="onTextChanged($event)">
              <mat-hint *ngIf="showApiLink && getTestResult(i) !== null && getTestResult(i).secondary === false">
                <a href="https://{{installation.secondaryDomain}}:{{installation.secondaryPort}}/api/version" target="_blank"><span i18n="@@setup check">Check API version and certificate</span><mat-icon>open_in_new</mat-icon></a>
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="port">
              <mat-label i18n="@@setup port">Port</mat-label>
              <input matInput type="number" name="secondary-port-{{installation.id}}" class="form-control" [(ngModel)]="installation.secondaryPort">
            </mat-form-field>

            <div *ngIf="getTestResult(i) !== null" class="status">
              <mat-icon *ngIf="getTestResult(i).secondary === true" class="icon-accessible">check_circle</mat-icon>
              <mat-icon *ngIf="getTestResult(i).secondary === false" class="icon-inaccessible">error</mat-icon>
              <mat-spinner *ngIf="getTestResult(i).secondary === null" diameter="16"/>
            </div>
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button *ngIf="isMultiInstallation" mat-icon-button cdkDragHandle class="drag-handle">
            <mat-icon >drag_indicator</mat-icon>
          </button>

          <button *ngIf="installations.length > 1" mat-icon-button color="warn" (click)="deleteInstallation(i)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="testInstallation(i)" [disabled]="installationsForm.invalid">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<div class="list-actions">
  <button *ngIf="isMultiInstallation" mat-fab color="accent" (click)="addInstallation()" class="list-action">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="accent" (click)="onSave()" class="list-action" [disabled]="anyInstallationWithoutId()">
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="isMultiInstallation" mat-mini-fab color="accent" (click)="addInstallation()" class="list-action">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab color="accent" (click)="onSave()" class="list-action" [disabled]="anyInstallationWithoutId()">
    <mat-icon>save</mat-icon>
  </button>
</div>