{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": false,
        "semi": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore",
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
