.mat-chip{
  vertical-align: middle;
}

@mixin system-state-indicator-theme($theme, $ok) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .error.mat-chip.mat-primary {
    background-color: mat-color($warn);
  }

  /* monitoring state */
  .invalid.mat-chip.mat-primary {
    background-color: mat-color($warn);
  }  

  .updating.mat-chip.mat-primary {
    background-color: #ffb600;
  }  

  .mute.mat-chip.mat-primary {
    background-color: #ffb600;
  }  

  /* arm state */
  .away.mat-chip.mat-primary {
    background-color: mat-color($warn);
  }

  .stay.mat-chip.mat-primary {
    background-color: #ffb600;
  }

  /* sensors */
  .ready.mat-chip.mat-primary, .ready.mat-list-icon.mat-icon.material-icons{
    background-color: map-get($ok, 600),
  }

  .alert.mat-chip.mat-primary, .alert.mat-list-icon.mat-icon.material-icons{
    background-color: mat-color($warn);
  }

  /* syren */
  .syren.mat-chip.mat-primary {
    background-color: mat-color($warn);
  }

  .mute.mat-chip.mat-primary {
    background-color: #ffb600;
  }

  /* power */
  .normal.mat-chip.mat-primary, .ready.mat-list-icon.mat-icon.material-icons{
    background-color: map-get($ok, 600),
  }
}
