<mat-chip-list>
  <!-- DESKTOP VERSION-->
  <span fxShow fxHide.xs>
  <!-- MONITORING STATES -->
    <div [ngSwitch]="monitoringState">
      <mat-chip *ngSwitchCase="monitoringStates.STARTUP" class="updating" i18n="@@starting state">Starting up</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.UPDATING_CONFIG" class="updating" i18n="@@updating state">Updating configuration</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.INVALID_CONFIG" class="invalid" i18n="@@invalid state">Invalid configuration</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.SABOTAGE" class="invalid" i18n="@@sabotage state">Sabotage</mat-chip>
    </div>

    <mat-chip *ngIf="armState == armTypes.UNDEFINED || monitoringState == monitoringStates.NOT_READY" class="error" i18n="@@error state">ERROR</mat-chip>
  </span>
  
  <!-- MOBILE VERSION -->
  <span  fxHide fxShow.xs>
    <!-- MONITORING STATES -->
    <div [ngSwitch]="monitoringState">
      <mat-chip *ngSwitchCase="monitoringStates.STARTUP" class="updating" i18n="@@starting state short">S</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.UPDATING_CONFIG" class="updating" i18n="@@updating state short">U</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.INVALID_CONFIG" class="invalid" i18n="@@invalid state short">I</mat-chip>
      <mat-chip *ngSwitchCase="monitoringStates.SABOTAGE" class="invalid" i18n="@@sabotage state short">T</mat-chip>
    </div>
    <mat-chip *ngIf="armState == armTypes.UNDEFINED || monitoringState == monitoringStates.NOT_READY" class="error">
      <mat-icon mat-list-icon>error</mat-icon>
    </mat-chip>
  </span>

  <!-- ALL SIZE-->
  <mat-chip-list>
    <div *ngIf="monitoringState == monitoringStates.ARM_DELAY" [ngSwitch]="armState">
      <mat-chip *ngSwitchCase="armTypes.MIXED" class="away_delay">
        <mat-icon mat-list-icon>directions_walk</mat-icon>
        <mat-icon mat-list-icon>hotel</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="armTypes.AWAY" class="away_delay">
        <mat-icon mat-list-icon>directions_walk</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="armTypes.STAY" class="stay_delay">
        <mat-icon mat-list-icon>hotel</mat-icon>
      </mat-chip>
    </div>
    <div *ngIf="monitoringState == monitoringStates.ARMED || monitoringState == monitoringStates.ALERT || monitoringState == monitoringStates.ALERT_DELAY" [ngSwitch]="armState">
      <mat-chip *ngSwitchCase="armTypes.MIXED" class="away">
        <mat-icon mat-list-icon>directions_walk</mat-icon>
        <mat-icon mat-list-icon>hotel</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="armTypes.AWAY" class="away">
        <mat-icon mat-list-icon>directions_walk</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="armTypes.STAY" class="stay">
        <mat-icon mat-list-icon>hotel</mat-icon>
      </mat-chip>
    </div>
    <!-- SENSOR STATES -->
    <div *ngIf="monitoringState === monitoringStates.ARMED || monitoringState === monitoringStates.READY || monitoringState === monitoringStates.ARM_DELAY || monitoringState === monitoringStates.ALERT"
      [ngSwitch]="sensorAlert">
      <mat-chip *ngSwitchCase="false" class="ready">
        <mat-icon mat-list-icon>sensors</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="true" class="alert">
        <mat-icon mat-list-icon>sensors</mat-icon>
      </mat-chip>
    </div>
    <div *ngIf="monitoringState === monitoringStates.ALERT_DELAY"
      [ngSwitch]="sensorAlert">
      <mat-chip *ngSwitchCase="false" class="ready">
        <mat-icon mat-list-icon>sensors</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="true" class="alert-delay">
        <mat-icon mat-list-icon>sensors</mat-icon>
      </mat-chip>
    </div>

    <!-- SYREN -->
    <mat-chip *ngIf="syrenAlert === true" class="syren">
      <mat-icon mat-list-icon>volume_up</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="syrenAlert === false" class="mute">
      <mat-icon mat-list-icon>volume_mute</mat-icon>
    </mat-chip>

    <!-- POWER -->
    <div *ngIf="armState != armTypes.UNDEFINED && monitoringState != monitoringStates.NOT_READY" [ngSwitch]="powerState">
      <mat-chip *ngSwitchCase="powerStates.NETWORK" class="normal">
        <mat-icon mat-list-icon>power</mat-icon>
      </mat-chip>
      <mat-chip *ngSwitchCase="powerStates.BATTERY" class="error">
        <mat-icon mat-list-icon>battery_alert</mat-icon>
      </mat-chip>
    </div>
</mat-chip-list>
