.states {
  // rounded border with opaque background
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px;
}

.mat-icon {
  vertical-align: text-bottom;
}

@mixin system-state-indicator-theme($theme, $ok) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  /* states */
  .normal {
    color: map-get($ok, 600),
  }

  .warning {
    color: #ffb600;
  }

  .danger {
    color: mat-color($warn);
  }

  .mat-chip.normal {
    background-color: map-get($ok, 600),
  }

  .mat-chip.warning {
    background-color: #ffb600;
  }

  .mat-chip.danger {
    background-color: mat-color($warn);
  }
}
