<mat-card class="{{ type }} message-card">
  <mat-card-header>
    <div mat-card-avatar>
      @if (type === 'error') {
        <mat-icon color="warn">error</mat-icon>
      }
      @if (type === 'warning') {
        <mat-icon color="warn">error</mat-icon>
      }
      @if (type === 'info') {
        <mat-icon color="primary">info</mat-icon>
      }
      @if (type === 'success') {
        <mat-icon color="accent">check_circle</mat-icon>
      }
    </div>
    <mat-card-title>
      {{ message }}
    </mat-card-title>
  </mat-card-header>
</mat-card>
