<!-- version < 1.4 doesn't support MQTT settings-->
@if (mqttConnection?.value) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@network mqtt settings">MQTT Settings</mat-panel-title>
      <mat-panel-description i18n="@@network mqtt description">
      Configure MQTT broker connection
    </mat-panel-description>
    </mat-expansion-panel-header>
    @if (mqttForm) {
      <form [formGroup]="mqttForm" (ngSubmit)="onSaveMqtt()" class="mqtt-form">
        <div class="row">
          <mat-checkbox formControlName="mqttEnabled" i18n="@@network mqtt enable">
        Enable MQTT connection
      </mat-checkbox>
          <mat-checkbox
            formControlName="mqttExternal"
            i18n="@@network mqtt external"
            [disabled]="!mqttForm.controls['mqttEnabled'].value"
            >
        Use external MQTT broker
      </mat-checkbox>
        </div>
        @if (mqttForm.controls['mqttEnabled'].value && mqttForm.controls['mqttExternal'].value) {
          <div
            class="row"
            >
            <mat-form-field class="container-item">
              <mat-label i18n="@@network mqtt hostname">Hostname</mat-label>
              <input
                matInput
                formControlName="mqttHostname"
                i18n-placeholder="@@network mqtt hostname"
                placeholder="Hostname"
                />
            </mat-form-field>
            <mat-form-field class="container-item">
              <mat-label i18n="@@network mqtt port">Port</mat-label>
              <input
                type="number"
                matInput
                formControlName="mqttPort"
                i18n-placeholder="@@network mqtt port"
                placeholder="Port"
                />
            </mat-form-field>
          </div>
        }
        @if (mqttForm.controls['mqttEnabled'].value && mqttForm.controls['mqttExternal'].value) {
          <div
            class="row"
            >
            <mat-form-field class="container-item">
              <mat-label i18n="@@network mqtt username">MQTT Username</mat-label>
              <input
                matInput
                formControlName="mqttUsername"
                i18n-placeholder="@@network mqtt username"
                placeholder="MQTT Username"
                />
            </mat-form-field>
            <mat-form-field class="container-item">
              <mat-label i18n="@@network mqtt password">MQTT Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="mqttPassword"
                i18n-placeholder="@@network mqtt password"
                placeholder="MQTT Password"
                />
            </mat-form-field>
          </div>
        }
        @if (mqttForm.controls['mqttEnabled'].value && mqttForm.controls['mqttExternal'].value) {
          <div
            class="row"
            >
            <mat-checkbox formControlName="mqttTlsEnabled" i18n="@@network mqtt enable tls">
        Enable TLS
      </mat-checkbox>
            <mat-checkbox formControlName="mqttTlsInsecure" i18n="@@network mqtt insecure tls">
        Allow insecure TLS connection
      </mat-checkbox>
          </div>
        }
        @if (mqttForm.controls['mqttEnabled'].value && !mqttForm.controls['mqttExternal'].value) {
          <span
            >
            <h3 i18n="@@network mqtt internal broker info">Internal MQTT Broker read</h3>
            <mat-list>
              <mat-list-item>
                <span matListItemTitle i18n="@@network mqtt url">MQTT URL</span>
                {{ getMqttUrl() }}
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle i18n="@@network mqtt username">MQTT Username</span>
                {{ getMqttUsername() }}
                <button
                  type="button"
                  mat-icon-button
                  color="primary"
                  onclick="this.blur()"
                  (click)="copyToClipboard(getMqttUsername())"
                  >
                  <mat-icon>content_copy</mat-icon>
                </button>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle i18n="@@network mqtt password">MQTT Password</span>
                {{ getMqttPassword() || 'No password set' }}
                <button
                  type="button"
                  mat-icon-button
                  color="primary"
                  onclick="this.blur()"
                  (click)="copyToClipboard(getMqttPassword())"
                  >
                  <mat-icon>content_copy</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </span>
        }
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
        [disabled]="
          monitoringState != monitoringStates.READY || mqttForm.invalid || mqttForm.pristine
        "
            i18n="@@save button"
            >
        Save
      </button>
        </div>
      </form>
    }
  </mat-expansion-panel>
}
