<div *ngIf="dyndns != null && access != null" class="container">
  <form [formGroup]="networkForm" (ngSubmit)="onSubmit()" class="network-form">
    
    <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@network dns">Dynamic DNS</mat-panel-title>
          <mat-panel-description i18n="@@network remote access">Remote access by hostname</mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="row">
          <mat-form-field class="container-item">
            <mat-label i18n="@@network provider">Provider</mat-label>
            <mat-select formControlName="dyndnsProvider" i18n-placeholder="@@network provider" placeholder="Provider">
              <mat-option *ngFor="let provider of providers" [value]="provider.value">
                {{ provider.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="container-item">
            <input matInput formControlName="dyndnsHostname" i18n-placeholder="@@network hostname" placeholder="Hostname">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="container-item">
            <input matInput formControlName="dyndnsUsername" i18n-placeholder="@@network username" placeholder="Username">
          </mat-form-field>
          
          <mat-form-field class="container-item">
            <input type="password" matInput formControlName="dyndnsPassword" (focus)="onPasswordFocus()" (blur)="onPasswordBlur()" i18n-placeholder="@@network password" placeholder="Password">
          </mat-form-field>
        </div>

        <mat-checkbox formControlName="dyndnsRestrictHost" i18n="@@network restrict host">Restrict access to host</mat-checkbox>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@network terminal access">Terminal access</mat-panel-title>
          <mat-panel-description i18n="@@network ssh settings">SSH settings</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox formControlName="accessSshService" i18n="@@network enable ssh">Enable SSH connection</mat-checkbox>
        
        <br/>
        
        <mat-checkbox formControlName="accessSshRestrictLocalNetwork" i18n="@@network restrict local">Restrict SSH connection to local network</mat-checkbox>

        <br/>
        
        <mat-checkbox formControlName="accessSshPasswordAuthentication" i18n="@@network password authentication">Enable SSH password authentication</mat-checkbox>

      </mat-expansion-panel>

    </mat-accordion>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != monitoringStates.READY" i18n="@@save button">Save</button>
    </div>
  </form>
</div>

<ng-template #snackbarTemplate>
  <span i18n="@@failed save">Failed to save!</span>
</ng-template>