.network-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.status {
  margin: 10px 5px;

  .link-icon {
    vertical-align: middle;
    margin: 3px;
  }

  .icon-accessible {
    color: green;
  }

  .icon-inaccessible {
    color: red;
  }

  mat-spinner {
    float: left;
  }
}
