@mixin output-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  .output-button {
    .mat-mdc-progress-spinner {
      float: right;
      margin: 10px 10px;
    }
  }

  .output-button.active {
    background-color: mat.m2-get-color-from-palette($argus-ok) !important;
  }

  // remove checked state effect
  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    background-color: var(--mat-standard-button-toggle-background-color);
  }

  .long-press-active {
    box-shadow: 0 0 3px 3px mat.m2-get-color-from-palette($argus-ok) !important;
  }
}
