<h1 mat-dialog-title>ArPI Home Security System - Simulator</h1>
<div mat-dialog-content>
  <p>
    This site demonstrates the features of the
    <a href="https://www.arpi-security.info">ArPI home security system</a>
    .
  </p>
  <p>
    In the top toolbar you can find buttons for the input channels of the system to simulate the
    interactions with the sensors.
  </p>
  <p>
    This page uses a mock implementation of the real backend system. May contain errors not existing
    in the real system.
  </p>

  <p>
    You need two types of code to access the application. The first code registers your device for a
    user. After registering the device you can access the application only with the 'access code'.
  </p>
  <!-- https://stackoverflow.com/a/58115714 -->
  <table class="mat-table mat-elevation-z3">
    <tr class="mat-header-row">
      <th class="mat-header-cell">User name</th>
      <th class="mat-header-cell">Registration code</th>
      <th class="mat-header-cell">Access code</th>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Admin</td>
      <td class="mat-cell">
        {{ ADMIN_REGISTRATION_CODE }}
        <button
          mat-icon-button
          colo7="primary"
          onclick="this.blur()"
          (click)="copyToClipboard(ADMIN_REGISTRATION_CODE)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
      <td class="mat-cell">
        {{ ADMIN_ACCESS_CODE }}
        <button
          mat-icon-button
          colo7="primary"
          onclick="this.blur()"
          (click)="copyToClipboard(ADMIN_ACCESS_CODE)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">User</td>
      <td class="mat-cell">
        {{ USER_REGISTRATION_CODE }}
        <button
          mat-icon-button
          colo7="primary"
          onclick="this.blur()"
          (click)="copyToClipboard(USER_REGISTRATION_CODE)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
      <td class="mat-cell">
        {{ USER_ACCESS_CODE }}
        <button
          mat-icon-button
          colo7="primary"
          onclick="this.blur()"
          (click)="copyToClipboard(USER_ACCESS_CODE)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onClose()" color="primary" cdkFocusInitial>Ok</button>
  <button mat-raised-button (click)="onResetDemo()" color="accent">Reset demo</button>
  <a mat-raised-button href="https://github.com/arpihomesecurity" target="_blank">
    Open project
    <img height="16" width="16" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
  </a>
</div>
