<mat-toolbar color="secondary">
  <span fxHide fxShow.gt-xs="true" >ArPI - Simulator</span>
  <span fxHide fxShow.xs="true" >Simulator</span>

  <button mat-button (click)="help()" class="help">
    <mat-icon>help</mat-icon>
  </button>

  <span class="spacer"></span>
  <button mat-raised-button *ngFor="let channel of channels; let i = index" type="button" (click)="swap(i)" color="primary">
    <span fxHide.xs="true">CH{{i | number: '2.0-0'}}</span>
    <mat-icon *ngIf="channel">my_location</mat-icon>
    <mat-icon *ngIf="!channel">trip_origin</mat-icon>
  </button>
</mat-toolbar>