.filters mat-form-field,
.filters mat-checkbox {
  margin-bottom: 5px !important;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.warn {
  background-color: #ed1010;
}

.hidden {
  display: none;
}

.event-list {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;

  .panel {
    margin: 5px;

    .title {
      font-weight: bold;
    }

    ul {
      padding-left: 10px;

      li {
        white-space: nowrap;
        margin-top: 14px;
        margin-bottom: 14px;
      }
    }

    .content {
      padding: 10px;

      p {
        white-space: nowrap;
        //padding-left: 10px;
      }
    }
  }

  .empty {
    text-align: center;
  }
}

.event-list-xs {
  padding: 5px;
  width: 100%;

  .panel {
    margin: 5px;

    .title {
      font-weight: bold;
    }

    ul {
      padding-left: 10px;

      li {
        white-space: nowrap;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    .content {
      padding: 10px;

      p {
        white-space: nowrap;
        margin-top: 4px;
        margin-bottom: 4px;
        //padding-left: 10px;
      }
    }
  }
}