form {
  margin-bottom: 25px;
}

mat-card {
  margin: 30px;
  padding: 30px 50px;
  
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

.actions button {
  width: 100%;
}

.alert {
  margin: 15px 0px;
}

.full-width {
  width: 100%;
}


// Hide input field
@font-face{
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}

.hidden {
  font-family: text-security-disc;
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
}