@charset "UTF-8";


.mat-card-header {
  margin-bottom: 15px;
}

.user-card {
  .mat-card-title, .mat-card-subtitle{
    margin-left: 16px;
  }
  
  .mat-card-content {
    margin-bottom: 0px;
  }

  mat-icon.entry {
    vertical-align: middle;
  }
}

button.delete {
  vertical-align: middle;
}

.avatar {
  font-size: 40px;
}

.card-enabled {
  vertical-align: bottom;
  color: green;
}

.card-disabled {
  vertical-align: bottom;
  color: grey;
}

.card-description-disabled {
  text-decoration: line-through;
}

.header{
  padding-top: 10px;
  font-weight: bold;
}