<div *ngIf="users !== null" class="container">
  <div *ngIf="users && users.length > 0; else no_users">
    <user-card *ngFor="let user of users" class="user-card container-item"
      [user]="user"
      [disabled]="monitoringState != monitoringStates.READY"
      [canManageCards]="userCanEdit"
      [canManageSshKeys]="userCanEdit"
      [canManageUser]="userCanEdit"
      [canManageRegistration]="userCanEdit"
      (onUserDeleted)="onUserDeleted($event)"
      (onNavigateToUserEdit)="navigateToUserEdit(user.id)">

    </user-card>
  </div>

  <ng-template #no_users>
    <div class="user-list-xs sm:user-list">
      <h1 i18n="@@user no users">No users found</h1>
    </div>
  </ng-template>
</div>

<div class="list-actions">
  <button class="list-action" mat-fab color="accent" routerLink="/user/add" [disabled]="monitoringState != monitoringStates.READY"><mat-icon matListIcon>add</mat-icon></button>
  <button class="list-action" mat-mini-fab color="accent" routerLink="/user/add"
    [disabled]="monitoringState != monitoringStates.READY"><mat-icon
      matListIcon>add</mat-icon></button>
</div>

<ng-template #snackbarTemplate>
  <mat-progress-bar *ngIf="registering_card" mode="indeterminate"></mat-progress-bar>
</ng-template>