@if (users !== null) {
  <div class="container">
    @if (users && users.length > 0) {
      <div>
        @for (user of users; track user) {
          <user-card
            class="user-card container-item"
            [user]="user"
            [disabled]="monitoringState != monitoringStates.READY"
            [canManageCards]="userCanEdit"
            [canManageSshKeys]="userCanEdit"
            [canManageUser]="userCanEdit"
            [canManageMCP]="userCanEdit"
            [canManageRegistration]="userCanEdit"
            (onUserDeleted)="onUserDeleted($event)"
            (onNavigateToUserEdit)="navigateToUserEdit(user.id)"
          ></user-card>
        }
      </div>
    } @else {
      <div class="container-item">
        <h1 i18n="@@user no users">No users found</h1>
      </div>
    }
  </div>
}

<div class="list-actions">
  <button
    class="list-action"
    mat-fab
    color="accent"
    routerLink="/user/add"
    [disabled]="monitoringState != monitoringStates.READY"
    >
    <mat-icon>add</mat-icon>
  </button>
  <button
    class="list-action"
    mat-mini-fab
    color="accent"
    routerLink="/user/add"
    [disabled]="monitoringState != monitoringStates.READY"
    >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #snackbarTemplate>
  @if (registering_card) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</ng-template>
