<div *ngIf="zones != null && sensors != null">
  <div cdkDropList
    *ngIf="zones.length > 0; else no_zones"
    ngClass.gt-xs="zone-list"
    ngClass.xs="zone-list-xs"
    fxLayout="column"
    fxLayoutGap="20px"
    (cdkDropListDropped)="onDrop($event)">

    <mat-card
      cdkDrag
      *ngFor="let zone of zones">

      <mat-card-content layout="row">
  
        <mat-card-title>{{zone.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="zone.name != zone.description">{{zone.description}}</mat-card-subtitle>
  
        <mat-expansion-panel (opened)="sensorListClosed[zone.id] = true" (closed)="sensorListClosed[zone.id] = false">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="@@zone configuration">Configuration</mat-panel-title>
            <mat-panel-description *ngIf="!sensorListClosed[zone.id]" fxShow.xs="false">
              <span i18n="@@zone away_l">Away:</span>
              {{zone.awayArmDelay !== null ? zone.awayArmDelay : "-"}}/{{zone.awayAlertDelay !== null ? zone.awayAlertDelay : "-"}}&nbsp;|&nbsp;
              <span i18n="@@zone stay_l">Stay:</span>
              {{zone.stayArmDelay !== null ? zone.stayArmDelay : "-"}}/{{zone.stayAlertDelay !== null ? zone.stayAlertDelay : "-"}}&nbsp;|&nbsp;
              <span i18n="@@zone disarme_l">Disarmed:</span>
              {{zone.disarmedDelay !== null ? zone.disarmedDelay : '-'}}
            </mat-panel-description>
            <mat-panel-description *ngIf="!sensorListClosed[zone.id]" fxShow.gt-xs="false">
              <span i18n="@@zone away_s">A:</span>
              {{zone.awayArmDelay !== null ? zone.awayArmDelay : "-"}}/{{zone.awayAlertDelay !== null ? zone.awayAlertDelay : "-"}}&nbsp;|&nbsp;
              <span i18n="@@zone stay_s">S:</span>
              {{zone.stayArmDelay !== null ? zone.stayArmDelay : "-"}}/{{zone.stayAlertDelay !== null ? zone.stayAlertDelay : "-"}}&nbsp;|&nbsp;
              <span i18n="@@zone disarmed_s">D:</span>
              {{zone.disarmedDelay !== null ? zone.disarmedDelay : '-'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-table">
              <div class="mat-header-row">
                <div class="mat-header-cell" i18n="@@zone alert type">Alert type</div>
                <div class="mat-header-cell" i18n="@@zone alert enabled">Alert enabled</div>
                <div class="mat-header-cell" i18n="@@zone arm delay">Arm delay</div>
                <div class="mat-header-cell" i18n="@@zone alert delay">Alert delay</div>
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone arm away">Away</div >
                <div class="mat-cell" *ngIf="zone.awayAlertDelay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                  <div class="mat-cell">{{zone.awayArmDelay!==null? zone.awayArmDelay : "-"}}</div >
                <div class="mat-cell">{{zone.awayAlertDelay!==null? zone.awayAlertDelay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone arm stay">Stay</div >
                <div class="mat-cell" *ngIf="zone.stayAlertDelay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                  <div class="mat-cell">{{zone.stayArmDelay!==null ? zone.stayArmDelay : "-"}}</div >
                <div class="mat-cell">{{zone.stayAlertDelay!==null ? zone.stayAlertDelay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone disarmed">Disarmed</div >
                <div class="mat-cell" *ngIf="zone.disarmedDelay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                <div class="mat-cell">{{zone.disarmedDelay!==null ? "0" : "-"}}</div >
                <div class="mat-cell">{{zone.disarmedDelay!==null ? zone.disarmedDelay : "-"}}</div >
              </div>
          </div>
          <ng-template #disabled>
            <div class="mat-cell"><mat-icon mat-list-icon>clear</mat-icon></div >
          </ng-template>
        </mat-expansion-panel>
  
        <mat-expansion-panel (opened)="sensorListOpened[zone.id] = true" (closed)="sensorListOpened[zone.id] = false">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="@@zone sensors">Sensors</mat-panel-title>
            <mat-panel-description *ngIf="!sensorListOpened[zone.id]" i18n="@@zone no sensor">{{getSensors(zone.id).length}} sensor(s)</mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="getSensors(zone.id).length > 0; else no_sensors">
            <ul class="sensor-list">
              <li *ngFor="let sensor of getSensors(zone.id)">
                <!-- button mat-button [routerLink]="['/sensors']" fragment="sensor-{{sensor.id}}" color="primary">{{sensor.description}}</button-->
                {{sensor.description}}
                <button mat-button [routerLink]="['/sensor', sensor.id]" routerLinkActive="active" color="accent" [fxShow]="authService.getRole() == 'admin'"><mat-icon mat-list-icon>mode_edit</mat-icon></button>
              </li>
            </ul>
          </div>
          <ng-template #no_sensors>
            <h3 i18n="@@zone no sensors">No sensors</h3>
          </ng-template>
        </mat-expansion-panel>
      </mat-card-content>
  
      <mat-card-actions [fxShow]="userCanEdit()">
        <!-- drag and drop icon button-->
        <button mat-icon-button cdkDragHandle class="drag-handle" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>drag_indicator</mat-icon></button>
        <button mat-icon-button [routerLink]="['/zone', zone.id]" color="primary" [disabled]="monitoringState != monitoringStates.READY"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button (click)="openDeleteDialog(zone.id)" color="warn" [disabled]="getSensors(zone.id).length > 0 || monitoringState != monitoringStates.READY"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
  
    </mat-card>
  </div>
  
  <ng-template #no_zones>
    <div ngClass.gt-xs="zone-list" ngClass.xs="zone-list-xs">
      <h1 class="empty" i18n="@@zone none">No zones found</h1>
    </div>
  </ng-template>
</div>

<div ngClass.gt-xs="zone-actions" ngClass.xs="zone-actions-xs" [fxShow]="userCanEdit()">
  <button class="zone-action" mat-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
  <button class="zone-action" mat-mini-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != monitoringStates.READY" fxShow.gt-xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>