<div *ngIf="zone != null">
  <form *ngIf="zone; else not_found" [formGroup]="zoneForm" (ngSubmit)="onSubmit()" novalidate
      ngClass.gt-xs="zone-form" ngClass.xs="zone-form-xs" fxLayout="column">

    <mat-form-field>
      <input matInput i18n-placeholder="@@name" placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-checkbox formControlName="disarmedAlert" color="primary" (change)="alertWhenChanged($event, 'disarmedDelay')" i18n="@@zone alert when disarmed">Alert when disarmed</mat-checkbox>
    <mat-form-field [fxShow]="zoneForm.get('disarmedAlert').value">
      <input matInput i18n-placeholder="@@zone disarmed delay" placeholder="Delay alert when not armed" formControlName="disarmedDelay">
      <mat-error *ngIf="zoneForm.get('disarmedDelay').invalid">{{zoneForm.get('disarmedDelay').getError('invalid')}}</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="awayArmedAlert" color="primary" (change)="alertWhenChanged($event, 'awayDelay')" i18n="@@zone alert when away">Alert when away armed</mat-checkbox>
    <mat-form-field [fxShow]="zoneForm.get('awayArmedAlert').value">
      <input matInput i18n-placeholder="@@zone away delay" placeholder="Delay alert when armed away" formControlName="awayDelay">
      <mat-error *ngIf="zoneForm.get('awayDelay').invalid">{{zoneForm.get('awayDelay').getError('invalid')}}</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="stayArmedAlert" color="primary" (change)="alertWhenChanged($event, 'stayDelay')" i18n="@@zone alert when stay">Alert when stay armed</mat-checkbox>
    <mat-form-field [fxShow]="zoneForm.get('stayArmedAlert').value">
      <input matInput i18n-placeholder="@@zone stay delay" placeholder="Delay alert when armed stay" formControlName="stayDelay">
      <mat-error *ngIf="zoneForm.get('stayDelay').invalid">{{zoneForm.get('stayDelay').getError('invalid')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput i18n-placeholder="@@description" placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="zoneForm.invalid || monitoringState != MonitoringState.READY"
        i18n="@@save button">Save</button>
      <button *ngIf="zoneId > 0" mat-raised-button color="warn" type="button" (click)="openDeleteDialog(zone.id)" [disabled]="getSensors().length > 0 || monitoringState != MonitoringState.READY"
        i18n="@@remove button">Remove</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()"
        i18n="@@cancel button">Cancel</button>
    </div>

  </form>
  <ng-template #not_found>
    <h1 i18n="@@zone not found">Zone not found!</h1>
  </ng-template>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='create'" i18n="@@failed create">Failed to create!</span>
  <span *ngIf="action=='update'" i18n="@@failed update">Failed to update!</span>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>