@charset "UTF-8";

.zone-list {
  box-sizing: border-box;
  padding: 15px;
  max-height: none !important;
  min-height: 100%;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.zone-list-xs {
  box-sizing: border-box;
  padding: 15px;
  max-height: none !important;
  min-height: 100%;
}

.sensor-list li {
  list-style: none;
}

h3 {
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}

.zone-actions {
  position: sticky;
  bottom: 20px;
  right: 20px;
  float: right;
  margin-top: -75px;
}

.zone-actions-xs {
  position: sticky;
  bottom: 20px;
  right: 20px;
  float: right;
  margin-top: -60px;
}

.zone-action {
  margin: 5px 0px;
  float: left;
  clear: both;
}


.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
}