<div  [fxShow]="zones !== null && sensors !== null" fxLayout="row" fxLayoutAlign="center">
  <div *ngIf="zones && zones.length > 0; else no_zones" fxLayout="column" fxLayoutGap="20px" fxFlex.gt-xs="600px" fxFlex.xs="100%">
    <mat-card *ngFor="let zone of zones">
      <mat-card-content layout="row">
  
        <mat-card-title>{{zone.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="zone.name != zone.description">{{zone.description}}</mat-card-subtitle>
  
        <mat-expansion-panel (opened)="open['config'][zone.id] = true" (closed)="open['config'][zone.id] = false">
          <mat-expansion-panel-header>
            <mat-panel-title>Configuration</mat-panel-title>
            <mat-panel-description *ngIf="!open['config'][zone.id]" fxShow.xs="false">Away:{{zone.away_delay!==null? zone.away_delay : "-"}} Stay:{{zone.stay_delay!==null ? zone.stay_delay : "-"}} Disarmed:{{zone.disarmed_delay!==null ? zone.disarmed_delay : '-'}}</mat-panel-description>
            <mat-panel-description *ngIf="!open['config'][zone.id]" fxShow.gt-xs="false">A:{{zone.away_delay!==null? zone.away_delay : "-"}} S:{{zone.stay_delay!==null ? zone.stay_delay : "-"}} D:{{zone.disarmed_delay!==null ? zone.disarmed_delay : '-'}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-table">
              <div class="mat-header-row">
                <div class="mat-header-cell">Mode</div>
                <div class="mat-header-cell">Alert enabled</div>
                <div class="mat-header-cell">Alert delay</div>
              </div>
              <div class="mat-row">
                <div class="mat-cell">Away</div >
                <div class="mat-cell" *ngIf="zone.away_delay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                <div class="mat-cell">{{zone.away_delay!==null? zone.away_delay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell">Stay</div >
                <div class="mat-cell" *ngIf="zone.stay_delay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                <div class="mat-cell">{{zone.stay_delay!==null ? zone.stay_delay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell">Disarmed</div >
                <div class="mat-cell" *ngIf="zone.disarmed_delay!==null; else disabled"><mat-icon mat-list-icon>done</mat-icon></div >
                <div class="mat-cell">{{zone.disarmed_delay!==null ? zone.disarmed_delay : "-"}}</div >
              </div>
          </div>
          <ng-template #disabled>
            <div class="mat-cell"><mat-icon mat-list-icon>clear</mat-icon></div >
          </ng-template>
        </mat-expansion-panel>
  
        <mat-expansion-panel (opened)="open['sensors'][zone.id] = true" (closed)="open['sensors'][zone.id] = false">
          <mat-expansion-panel-header>
            <mat-panel-title>Sensors</mat-panel-title>
            <mat-panel-description *ngIf="!open['sensors'][zone.id]">{{getSensors(zone.id).length}} sensor(s)</mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="getSensors(zone.id).length > 0; else no_sensors">
            <ul class="sensor-list">
              <li *ngFor="let sensor of getSensors(zone.id)">
                <!-- button mat-button [routerLink]="['/sensors']" fragment="sensor-{{sensor.id}}" color="primary">{{sensor.description}}</button-->
                {{sensor.description}}
                <button mat-button [routerLink]="['/sensor', sensor.id]" routerLinkActive="active" color="accent" [fxShow]="authService.getRole() == 'admin'"><mat-icon mat-list-icon>mode_edit</mat-icon></button>
              </li>
            </ul>
          </div>
          <ng-template #no_sensors>
            <h3>No sensors</h3>
          </ng-template>
        </mat-expansion-panel>
      </mat-card-content>
  
      <mat-card-actions [fxShow]="userCanEdit()">
        <button mat-button [routerLink]="['/zone', zone.id]" color="primary" [disabled]="monitoringState != MonitoringState.READY"
          i18n="@@edit button">Edit</button>
        <button mat-button (click)="openDeleteDialog(zone.id)" color="warn" [disabled]="getSensors(zone.id).length > 0 || monitoringState != MonitoringState.READY"
          i18n="@@remove button">Remove</button>
      </mat-card-actions>
  
    </mat-card>
  </div>
  
  <ng-template #no_zones>
    <div ngClass.gt-xs="zone-list" ngClass.xs="zone-list-xs">
      <h1 align="center">No zones found</h1>
    </div>
  </ng-template>
  
  
  <div ngClass.gt-xs="zone-actions" ngClass.xs="zone-actions-xs" [fxShow]="userCanEdit()">
    <button class="zone-action" mat-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != MonitoringState.READY" fxShow.xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
    <button class="zone-action" mat-mini-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != MonitoringState.READY" fxShow.gt-xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
  </div>
</div>