<div *ngIf="zones != null && sensors != null" class="container">

  <div cdkDropList *ngIf="zones.length > 0; else no_zones" class="zone-list flex flex-col space-y-5" (cdkDropListDropped)="onDrop($event)">

    <mat-card
      cdkDrag
      *ngFor="let zone of zones"
      class="zone-card container-item">

      <mat-card-content layout="row">
  
        <mat-card-title>{{zone.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="zone.name != zone.description">{{zone.description}}</mat-card-subtitle>
  
        <mat-expansion-panel (opened)="onOpenConfig(zone.id)" (closed)="onCloseConfig(zone.id)" [expanded]="configOpened[zone.id]">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="@@zone configuration">Configuration</mat-panel-title>
            <mat-panel-description *ngIf="!configOpened[zone.id]" class="hidden sm:block">
              <mat-icon>directions_walk</mat-icon>
              {{zone.awayArmDelay !== null ? zone.awayArmDelay : "-"}}/{{zone.awayAlertDelay !== null ? zone.awayAlertDelay : "-"}}

              <span class="divider">|</span>

              <mat-icon class="icon_margin">hotel</mat-icon>
              {{zone.stayArmDelay !== null ? zone.stayArmDelay : "-"}}/{{zone.stayAlertDelay !== null ? zone.stayAlertDelay : "-"}}

              <span class="divider">|</span>

              <mat-icon>clear</mat-icon>
              {{zone.disarmedDelay !== null ? zone.disarmedDelay : "-"}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-table">
              <div class="mat-header-row">
                <div class="mat-header-cell" i18n="@@zone alert type">Alert type</div>
                <div class="mat-header-cell" i18n="@@zone alert enabled">Alert enabled</div>
                <div class="mat-header-cell" i18n="@@zone arm delay">Arm delay</div>
                <div class="mat-header-cell" i18n="@@zone alert delay">Alert delay</div>
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone arm away">Away</div >
                <div class="mat-cell" *ngIf="zone.awayAlertDelay!==null; else disabled"><mat-icon matListIcon>done</mat-icon></div >
                  <div class="mat-cell">{{zone.awayArmDelay!==null? zone.awayArmDelay : "-"}}</div >
                <div class="mat-cell">{{zone.awayAlertDelay!==null? zone.awayAlertDelay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone arm stay">Stay</div >
                <div class="mat-cell" *ngIf="zone.stayAlertDelay!==null; else disabled"><mat-icon matListIcon>done</mat-icon></div >
                  <div class="mat-cell">{{zone.stayArmDelay!==null ? zone.stayArmDelay : "-"}}</div >
                <div class="mat-cell">{{zone.stayAlertDelay!==null ? zone.stayAlertDelay : "-"}}</div >
              </div>
              <div class="mat-row">
                <div class="mat-cell" i18n="@@zone disarmed">Disarmed</div >
                <div class="mat-cell" *ngIf="zone.disarmedDelay!==null; else disabled"><mat-icon matListIcon>done</mat-icon></div >
                <div class="mat-cell">{{zone.disarmedDelay!==null ? "0" : "-"}}</div >
                <div class="mat-cell">{{zone.disarmedDelay!==null ? zone.disarmedDelay : "-"}}</div >
              </div>
          </div>
          <ng-template #disabled>
            <div class="mat-cell"><mat-icon matListIcon>clear</mat-icon></div >
          </ng-template>
        </mat-expansion-panel>
  
        <mat-expansion-panel (opened)="onOpenSensor(zone.id)" (closed)="onCloseSensor(zone.id)" [expanded]="sensorOpened[zone.id]">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="@@zone sensors">Sensors</mat-panel-title>
            <mat-panel-description *ngIf="!sensorOpened[zone.id]" i18n="@@zone no sensor">{{getSensors(zone.id).length}} sensor(s)</mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="getSensors(zone.id).length > 0; else no_sensors">
            <ul class="sensor-list">
              <li *ngFor="let sensor of getSensors(zone.id)">
                <!-- button mat-button [routerLink]="['/sensors']" fragment="sensor-{{sensor.id}}" color="primary">{{sensor.description}}</button-->
                {{sensor.description}}
                <button mat-button [routerLink]="['/sensor', sensor.id]" routerLinkActive="active" color="accent" [ngClass]="{'block': authService.getRole() == 'admin'}"><mat-icon matListIcon>mode_edit</mat-icon></button>
              </li>
            </ul>
          </div>
          <ng-template #no_sensors>
            <h3 i18n="@@zone no sensors">No sensors</h3>
          </ng-template>
        </mat-expansion-panel>
      </mat-card-content>
  
      <mat-card-actions [ngClass]="{'hidden': !userCanEdit()}">
        <!-- drag and drop icon button-->
        <button mat-icon-button cdkDragHandle class="drag-handle" [disabled]="! [monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)"><mat-icon>drag_indicator</mat-icon></button>
        <button mat-icon-button [routerLink]="['/zone', zone.id]" color="primary" [disabled]="monitoringState != monitoringStates.READY"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button (click)="openDeleteDialog(zone.id)" color="warn" [disabled]="getSensors(zone.id).length > 0 || monitoringState != monitoringStates.READY"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
  
    </mat-card>
  </div>
  
  <ng-template #no_zones>
    <div class="zone-list-xs sm:zone-list">
      <h1 class="empty" i18n="@@zone none">No zones found</h1>
    </div>
  </ng-template>
</div>

<div *ngIf="userCanEdit()" class="list-actions">
  <!--button class="zone-action" mat-min-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != monitoringStates.READY" class="hidden sm:block"><mat-icon matListIcon>add</mat-icon></button-->
  <button class="list-action" mat-mini-fab color="accent" routerLink="/zone/add" [disabled]="monitoringState != monitoringStates.READY" class="block sm:hidden"><mat-icon matListIcon>add</mat-icon></button>
</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>