
.keypad-form {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.keypad-form-xs {
  padding: 5px;
  width: 100%;
}

.keypad {
  margin: 2px 2px 10px 2px;
}

ng2-timezone-picker {
  display: inline-block;
}

.half-width{
  width: 48%;
  margin: auto 1%;
}

.full-width {
  width: 100%;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

