<div *ngIf="keypad != null">
  <form [formGroup]="keypadForm" (ngSubmit)="onSubmit()"
    ngClass.gt-xs="keypad-form" ngClass.xs="keypad-form-xs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">

    <mat-accordion class="full-width">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Keypad settings</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-checkbox *ngIf="keypadTypes" class="half-width" formControlName="keypad_enabled" color="primary">Enabled</mat-checkbox>

        <mat-form-field class="half-width">
          <mat-select formControlName="keypad_type" placeholder="Keypad type">
            <mat-option *ngFor="let type of keypadTypes" [value]="type.id">{{ type.name }}</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-expansion-panel>
      
    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="keypadForm.invalid || monitoringState != MonitoringState.READY">Save</button>
  </form>
</div>
