@charset "UTF-8";

.output-list {
  padding: 15px;
}

.output-card {
  .mat-card-title, .mat-card-subtitle {
    margin-left: 16px;
  }
  
  .mat-card-content {
    margin-bottom: 0px;
  }
}

.output-card-large {
  margin-right: auto;
  margin-left: auto;
  width: 458px !important;
  height: unset !important;
}

.output-card-xs {
  min-width: 390px !important;
  height: unset !important;
}

.disabled {
  background-color: lightgray;
}

.alerting {
  background-color: red;
  border-radius: 10px;
}


.empty {
  text-align: center;
}

.output-title-sm {
  display: inline-block;
}

.output-icon {
  width: 100%;
}

.output-image {
  max-width: 130px;
  margin: 10px !important;
}

.output-image-small {
  width: 100%;
  min-width: 70px;
  max-width: 130px;
  margin: 5px;
}

.output-image img, .output-image-small img {
  width: 100%;
  height: 100%;
}

.output-status-icon-enabled {
  color: green;
}

.output-status-icon-disabled {
  color: grey;
}

.output-actions {
  position: fixed;
  bottom: 84px;
  right: 20px;
}

.output-actions-xs {
  position: fixed;
  bottom: 65px;
  right: 20px;
}

.output-action {
  margin: 5px 0px;
  float: left;
  clear: both;
}

/*
  list of attributes in the output card
*/
.mat-list.attribute-list {
  .long-field {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .mat-list-item {
    height: 30px !important;

    & .mat-list-item-content {
      padding: 0 0 0 16px !important;
    }
  }

  &.first-column {
    width: 130px;
    margin-top: 0px;
    margin-bottom: auto;
  }

  &.second-column {
    width: 190px;
    margin-top: 0px;
    margin-bottom: auto;
  }
}
