<mat-card *ngIf="output != null" ngClass.gt-xs="output-form" ngClass.xs="output-form-xs" fxLayout="column">
  <mat-card-content>
    <form *ngIf="output; else not_found" [formGroup]="outputForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field>
        <input matInput i18n-placeholder="@@name" placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput i18n-placeholder="@@description" placeholder="Description" formControlName="description"
          required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="channel" i18n-placeholder="@@output channel" placeholder="Channel">
          <mat-option *ngFor="let option of this.channelOptions" [value]="option.channel"
            [disabled]="option.output_name || option.channel == SYREN_CHANNEL">
            <span *ngIf="option.channel === -1" i18n="@@output disconnected">Disconnected</span>
            <span *ngIf="option.label !== ''">
              <span>{{ option.label }}</span>
              <span *ngIf="option.output_name"> - {{option.output_name}}</span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="triggerType" i18n-placeholder="@@output trigger" placeholder="Trigger"
          (selectionChange)="onSelectTriggerType($event.value)">
          <mat-option *ngFor="let triggerType of outputTriggerTypes | keyvalue" [value]="triggerType.value">
            <span *ngIf="triggerType.value === outputTriggerTypes.AREA" i18n="@@output area">Area</span>
            <span *ngIf="triggerType.value === outputTriggerTypes.SYSTEM" i18n="@@output system">System</span>
            <span *ngIf="triggerType.value === outputTriggerTypes.BUTTON" i18n="@@output button">Button</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="areaId" *ngIf="output.triggerType == outputTriggerTypes.AREA">
        <mat-select formControlName="areaId" i18n-placeholder="@@sensor area" placeholder="Area">
          <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10">
        <mat-form-field>
          <input matInput type="number" i18n-placeholder="@@output delay" placeholder="Delay [s]" formControlName="delay" required>
          <mat-error *ngIf="outputForm.get('delay').invalid">{{outputForm.get('delay').getError('invalid')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" i18n-placeholder="@@output duration" placeholder="Duration [s]" formControlName="duration" required>
          <mat-error *ngIf="outputForm.get('duration').invalid">{{outputForm.get('duration').getError('invalid')}}</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="enabled" color="primary" i18n="@@output enabled">Enabled</mat-checkbox>

        <mat-checkbox formControlName="defaultState" color="primary" i18n="@@output default state">Default state</mat-checkbox>
      </div>

    </form>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" [disabled]="outputForm.invalid || monitoringState != monitoringStates.READY"
      (click)="onSubmit()"><mat-icon>save</mat-icon></button>
    <button *ngIf="outputId > 0" mat-icon-button color="warn" type="button" (click)="openDeleteDialog(output.id)"
      [disabled]="monitoringState != monitoringStates.READY"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button color="accent" type="button" (click)="onCancel()"><mat-icon>cancel</mat-icon></button>
  </mat-card-actions>

  <ng-template #not_found>
    <h1 i18n="@@output not found">Output not found!</h1>
  </ng-template>
</mat-card>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='create'" i18n="@@failed create">Failed to create!</span>
  <span *ngIf="action=='update'" i18n="@@failed update">Failed to update!</span>
  <span *ngIf="action=='delete'" i18n="@@failed delete">Failed to delete!</span>
  <span *ngIf="action=='cant delete'" i18n="@@cant delete">Can't delete, system is not ready!</span>
</ng-template>