<div *ngIf="dyndns != null && access != null">
  <form [formGroup]="networkForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="network-form" ngClass.xs="network-form-xs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    
    <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@network dns">Dynamic DNS</mat-panel-title>
          <mat-panel-description i18n="@@network remote access">Remote access by hostname</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="dyndns_username" i18n-placeholder="@@network username" placeholder="Username">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input type="password" matInput formControlName="dyndns_password" i18n-placeholder="@@network password" placeholder="Password">
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-select formControlName="dyndns_provider" i18n-placeholder="@@network prodvider" placeholder="Provider">
            <mat-option *ngFor="let provider of PROVIDERS" [value]="provider.value">
              {{ provider.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
                
        <mat-form-field class="half-width">
          <input matInput formControlName="dyndns_hostname" i18n-placeholder="@@network hostname" placeholder="Hostname">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@network access locally">Access locally</mat-panel-title>
          <mat-panel-description i18n="@@network local settings">Local access settings</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox formControlName="access_ssh" i18n="@@network enable ssh">Enable SSH connection</mat-checkbox>

      </mat-expansion-panel>

    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != MonitoringState.READY" i18n="@@save button">Save</button>
  </form>
</div>
