<div *ngIf="dyndns != null && access != null">
  <form [formGroup]="networkForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="network-form" ngClass.xs="network-form-xs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    
    <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Dynamic DNS</mat-panel-title>
          <mat-panel-description>Remote access by hostname</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="dyndns_username" placeholder="User name">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input type="password" matInput formControlName="dyndns_password" placeholder="Password">
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-select formControlName="dyndns_provider" placeholder="Provider">
            <mat-option *ngFor="let provider of PROVIDERS" [value]="provider.value">
              {{ provider.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
                
        <mat-form-field class="half-width">
          <input matInput formControlName="dyndns_hostname" placeholder="Host name">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Access localy</mat-panel-title>
          <mat-panel-description>Local access settings</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox formControlName="access_ssh">Enable SSH connection</mat-checkbox>

      </mat-expansion-panel>

    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != MonitoringState.READY">Save</button>
  </form>
</div>
