<div *ngIf="alertHistory != null">
  <mat-table #table [dataSource]="alertHistory">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <ng-container matColumnDef="alertType">
    <mat-header-cell *matHeaderCellDef i18n="@@alert type">Alert type</mat-header-cell>
    <mat-cell *matCellDef="let alert">
      <div [ngSwitch]="alert.alertType">
        <span *ngSwitchCase="alertType.AWAY" i18n="@@alert type away">AWAY</span>
        <span *ngSwitchCase="alertType.STAY" i18n="@@alert type stay">STAY</span>
        <span *ngSwitchCase="alertType.SABOTAGE" i18n="@@alert type sabotage">SABOTAGE</span>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <mat-header-cell *matHeaderCellDef i18n="@@alert start time">Start time</mat-header-cell>
    <mat-cell *matCellDef="let alert"> {{alert.startTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <mat-header-cell *matHeaderCellDef i18n="@@alert end time">End time</mat-header-cell>
    <mat-cell *matCellDef="let alert"> {{alert.endTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sensors">
    <mat-header-cell *matHeaderCellDef i18n="@@alert history sensors">Sensors</mat-header-cell>
    <mat-cell *matCellDef="let alert">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@@alert history sensors">Sensor(s)</mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let sensor of alert.sensors">
          <div *ngIf="sensors && sensorExists(sensor.sensorId); else sensor_doesnt_exists">
            <a [routerLink]="['/sensors']" fragment="sensor-{{sensor.id}}">{{sensor.description}}</a> (Channel: {{sensor.channel}})
          </div>
          <ng-template #sensor_doesnt_exists i18n="@@@alert history no sensor">
            Sensor not found!
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let alert; columns: displayedColumns;" [ngClass]="{'ongoing-alert': !alert.endTime}"></mat-row>
  </mat-table>
</div>