@charset "UTF-8";


@mixin alert-list-theme($theme, $ok) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ongoing_alert {
    background-color: mat-color($warn);
  }
}
.zone-short-card {
  margin-bottom: 25px;
}

