.mat-expansion-panel-header {
  padding: 5px 24px;
}

.empty {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: large;
}

.alert {
  mat-panel-title {
    color: #ffffff !important;
  }

  background-color: #ed1010 !important;
}

component-sensor {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
