::ng-deep .area-header {
  .mat-card-header-text {
    margin: 0px !important;
  }

  .mat-card-title {
    line-height: 32px;
    margin-left: 10px;
  }
}

::ng-deep .area-controller {
  height: 32px;

  .mat-button-toggle-label-content {
    line-height: 32px;
  }
}