<mat-accordion>
  <mat-expansion-panel
    (opened)="onToggle(true)"
    (closed)="onToggle(false)"
    [expanded]="expanded"
    [disabled]="sensors.length == 0">
    <mat-expansion-panel-header [ngClass]="{'alert': hasAlertingSensor() && !expanded}">
      <mat-panel-title>
        {{ area.name }}
      </mat-panel-title>
      
      <mat-panel-description>
        <div *ngIf="sensors.length == 0" class="empty" i18n="@@area no sensors">No sensors</div>
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          [disabled]="area.armState == armTypes.UNDEFINED"
          [fxHide]="sensors.length == 0"
        >
          <mat-button-toggle 
            value="AWAY"
            class="arm-away"
            [checked]="area.armState == armTypes.AWAY"
            [disabled]="hasAlertingSensor() || area.armState !== armTypes.DISARMED"
            (change)="armChanged($event)"
            i18n="@@arm away button"
            (click)="$event.stopPropagation()"
            >
            AWAY
          </mat-button-toggle>
          <mat-button-toggle 
            value="DISARMED"
            class="disarm"
            [checked]="area.armState == armTypes.DISARMED"
            (change)="armChanged($event)" i18n="@@disarm button"
            (click)="$event.stopPropagation()"
            >
            OFF
          </mat-button-toggle>
          <mat-button-toggle 
            value="STAY"
            class="arm-stay"
            [checked]="area.armState == armTypes.STAY"
            [disabled]="hasAlertingSensor() || area.armState !== armTypes.DISARMED"
            (change)="armChanged($event)" i18n="@@arm stay button"
            (click)="$event.stopPropagation()"
          >
            STAY
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>

    
    <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="5px">
      <span *ngFor="let sensor of sensors; let i = index">
        <sensor *ngIf="!sensor.uiHidden || sensor.alert" [sensor]="sensor" [delay]="delays[i]"></sensor>
      </span>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='armed away'" i18n="@@area armed away">Area armed away</span>
  <span *ngIf="action=='armed stay'" i18n="@@area armed stay">Area armed stay</span>
  <span *ngIf="action=='disarmed'" i18n="@@area disarmed">Area disarmed</span>
</ng-template>
