.register, .login {
  margin: 25px auto 25px auto;

  max-width: 450px;
}

.actions button {
  width: 100%;
}

.alert {
  margin: 15px 0px;
}

.mat-mdc-form-field {
  width: 100%;
}

.actions {
  .mat-mdc-progress-spinner {
    margin: 0px;
  }
}

// Hide input field
@font-face{
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}

.password {
  font-family: text-security-disc;
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
}