<div *ngIf="syren != null">
  <form [formGroup]="syrenForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="syren-form" ngClass.xs="syren-form-xs" fxLayout="column" fxLayoutGap="20px">

    <mat-accordion class="full-width">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@syren sources">Syren</mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-list>
          <div mat-subheader>Silent alarm</div>
          <mat-list-item>
            <mat-checkbox formControlName="silent" i18n="@@syren silent hint">Do not use the syren in case of an alarm</mat-checkbox>
          </mat-list-item>

          <mat-divider></mat-divider>

          <div mat-subheader>Timing</div>
          <mat-list-item class="timing">
            <div mat-line fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="15">
              <mat-form-field class="full-width">
                <input matInput type="number" min="0" i18n-placeholder="@@syren delay" placeholder="Delay" formControlName="delay" required/>
                <mat-hint i18n="@@syren delay hint">Delay the syren in seconds</mat-hint>
              </mat-form-field>
              
              <mat-form-field class="full-width">
                <input matInput type="number" min="0" i18n-placeholder="@@syren stop" placeholder="Stop time" formControlName="stopTime" required/>
                <mat-hint i18n="@@syren stop hint">Stop the syren in seconds</mat-hint>
              </mat-form-field>
            </div>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
      
    </mat-accordion>
    
    <div class="actions">
      <button mat-raised-button type="submit" color="primary" [disabled]="syrenForm.invalid || monitoringState != monitoringStates.READY"
        i18n="@@save button">Save</button>
      <button mat-raised-button type="button" color="primary" [disabled]="syrenForm.invalid || monitoringState != monitoringStates.READY || testInProgress"
        (click)="onTestSyren()">
        <span i18n="@@syren test">Test</span>
        <mat-progress-spinner *ngIf="testInProgress" class="test-spinner" diameter="15" color="primary" mode="indeterminate"></mat-progress-spinner>
      </button>
      </div>
  </form>
</div>

<ng-template #snackbarTemplate>
  <span i18n="@@failed save">Failed to save!</span>
</ng-template>
