/*
 * @Author: Gábor Kovács
 * @Date:   2021-02-26 11:22:27
 * @Last Modified by:   Gábor Kovács
 * @Last Modified time: 2021-02-27 12:11:09
 */
.app-viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  mat-sidenav {
    width: 250px;
  }
}

.logo {
  text-align:center;
  margin: 15px 0;
}

.logo-button {
  margin: 5px;
}

.mat-toolbar .menu {
  margin-right: 10px;
}

.mat-toolbar .mat-button {
  min-width: 0;
  padding: 0px;
}

.mat-drawer-container {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.ajax-loader {
  margin: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex: 1;
}

.version {
  font-size: 10px;
  margin: 0px 15px;
}

.message {
  margin: 5px;
  background-color: #f8d7da;
}

.count-down {
  margin: 0 15px;
}

@mixin application-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
}