<div class="app-viewport">

  <app-demo *ngIf="environment.demo"></app-demo>

  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()" fxHide.gt-sm="true" class="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button *ngIf="isLoggedIn()" routerLink="/" fxHide.gt-sm="true" (click)="sidenav.close()">
      <img class="logo-button" src="assets/images/argus-eye-30.png"><span>ArPI</span>
    </button>
    <span class="spacer"></span>
    <div matTooltip="Session expiry countdown">
      <countdown #counter *ngIf="isSessionValid" [config]="countdownConfig" (event)="handleCountdown($event)"></countdown>
    </div>
    <app-system-state></app-system-state>
  </mat-toolbar>

  <mat-sidenav-container (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav>
      <!-- sidenav content -->
      <div class="logo" fxHide.lt-md="true">
        <img src="assets/images/argus-eye-64.jpg">
      </div>

      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" fxHide.lt-md="true" [fxShow]="isLoggedIn()">
          <mat-icon mat-list-icon>home</mat-icon><span i18n="@@home menu link">Control</span>
        </a>
        <a mat-list-item routerLink="/alerts" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isLoggedIn()">
          <mat-icon mat-list-icon>history</mat-icon><span i18n="@@alert history menu link">Alert history</span>
        </a>
        <h3 mat-subheader i18n="Settings menu title" [fxShow]="isLoggedIn()">Settings</h3>
        <a mat-list-item routerLink="/zones" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
          <mat-icon mat-list-icon>tab</mat-icon><span i18n="@@zones menu link">Zones</span>
        </a>
        <a mat-list-item routerLink="/sensors" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isLoggedIn()">
          <mat-icon mat-list-icon>input</mat-icon><span i18n="@@sensors menu link">Sensors</span>
        </a>
        <a mat-list-item routerLink="/config/syren" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isLoggedIn()">
          <mat-icon mat-list-icon>volume_up</mat-icon><span i18n="@@syren menu link">Syren</span>
        </a>
        <a mat-list-item routerLink="/keypad" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
          <mat-icon mat-list-icon>grid_on</mat-icon><span i18n="@@keypad menu link">Keypad</span>
        </a>
        <a mat-list-item routerLink="/config/notifications" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
          <mat-icon mat-list-icon>send</mat-icon><span i18n="@@notifications menu link">Notifications</span>
        </a>
        <a mat-list-item routerLink="/config/network" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
          <mat-icon mat-list-icon>public</mat-icon><span i18n="@@network menu link">Network</span>
        </a>
        <a mat-list-item routerLink="/config/clock" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
          <mat-icon mat-list-icon>access_time</mat-icon><span i18n="@@clock menu link">Clock</span>
        </a>
        <a mat-list-item routerLink="/users" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" [fxShow]="isAdminUser() && isLoggedIn()">
           <mat-icon mat-list-icon>group</mat-icon><span i18n="@@users menu link">Users</span>
        </a>
        <mat-divider [fxShow]="isLoggedIn()"></mat-divider>
        <a mat-list-item routerLink="/login" routerLinkActive="active" (click)="logout(); smallScreen ? sidenav.close() : null" [fxShow]="isLoggedIn()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <div mat-line i18n="@@logout menu link">Logout</div>
          <div mat-line>({{ getUserName() }})</div>
        </a>
        <mat-list-item>
          <mat-icon mat-list-icon>language</mat-icon>
          <mat-select [(value)]="currentLocale" (selectionChange)="onLocaleSelected($event)">
            <mat-option *ngFor="let locale of locales" [value]="locale.id">{{ locale.name }}</mat-option>
          </mat-select>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- AJAX loading spinner trigerred by the loader service -->
      <mat-progress-spinner class="ajax-loader" color="primary" mode="indeterminate" [fxShow]="displayLoader"></mat-progress-spinner>
      <div id="overlay" [fxShow]="disablePage"></div>

      <mat-card *ngIf="message && !displayLoader" class="message">
        <span>{{ message }}</span>
      </mat-card>

      <!-- main app container -->
      <div class="page-wrapper">
        <div class="page">
          <router-outlet></router-outlet>
        </div>
  
        <!-- footer -->
        <mat-toolbar color="primary" class="footer">
          <span class="spacer"></span>
          <div>
            <a href="https://www.arpi-security.info/" target="project">
              <button mat-button color="accent">ArPI Home Security</button>
            </a>
            |
            <a href="https://docs.arpi-security.info" target="">
              <button mat-button color="accent">DOCS</button>
            </a>
          </div>
          <span class="spacer"></span>
          <div>
            <div class="version">WebApp {{versions.webapplicationVersion}}</div>
            <div class="version">Server {{versions.serverVersion}}</div>
          </div>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #snackbarTemplate>
  <div *ngIf="isSessionValid" i18n="@@session expiry">Your session will expire in {{ getSessionDuration() }}!</div>
  <div *ngIf="!isSessionValid" i18n="@@session expired">Your session expired, logged out!</div>
</ng-template>