<div class="app-viewport">

  <app-demo *ngIf="environment.demo"></app-demo>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-flat-button *ngIf="isLoggedIn()" routerLink="/" (click)="sidenav.close()" class="logo-button">
      <img src="assets/images/argus-eye-30.png">
      <span class="installation">{{getInstallationName()}}</span>
    </button>
    <button mat-flat-button *ngIf="!isLoggedIn()" class="logo-button">
      <img src="assets/images/argus-eye-30.png">
      <span class="installation">{{getInstallationName()}}</span>
    </button>

    <span class="spacer"></span>
    <div matTooltip="Session expiry countdown">
      <countdown #counter *ngIf="isSessionValid" [config]="countdownConfig" (event)="handleCountdown($event)"></countdown>
    </div>

    <app-system-state></app-system-state>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openHelp()">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-menu>


  <mat-sidenav-container class="all-wrap" (backdropClick)="sidenav.close()" autosize>
    <mat-sidenav #sidenav>
      <!-- sidenav content -->
      <mat-list role="list" *ngIf="installations.length > 0">
        <mat-list-item *ngIf="isMultiInstallation() && selectedInstallationId != null">
          <mat-icon matListItemIcon><img src="assets/images/argus-eye-64.png" width="24"></mat-icon>
          <mat-select [value]="selectedInstallationId" (selectionChange)="onInstallationChange($event)">
            <mat-option *ngFor="let installation of installations" [value]="installation.id">{{ installation.name }}</mat-option>
          </mat-select>
        </mat-list-item>
  
        <mat-list-item *ngIf="!isMultiInstallation()" role="listitem">
          <mat-icon matListItemIcon><img src="assets/images/argus-eye-64.png" width="24"></mat-icon>
          <div matListItemTitle>{{ getInstallationName() }}</div>
        </mat-list-item>
      </mat-list>

      <mat-nav-list>
        <mat-list-item routerLink="/login" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="!isLoggedIn()">
          <mat-icon matListItemIcon>login</mat-icon><div matListItemTitle i18n="@@login menu link">Login</div>
        </mat-list-item>
        <mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>home</mat-icon><div matListItemTitle i18n="@@home menu link">Control</div>
        </mat-list-item>
        <mat-list-item routerLink="/events" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>history</mat-icon>
          <span matListItemTitle i18n="@@events menu link">Events</span>
        </mat-list-item>
        <h3 mat-subheader i18n="Settings menu title" *ngIf="isLoggedIn()">Settings</h3>
        <mat-list-item routerLink="/areas" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>crop</mat-icon><span i18n="@@areas menu link">Areas</span>
        </mat-list-item>
        <mat-list-item routerLink="/zones" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>tab</mat-icon><span i18n="@@zones menu link">Zones</span>
        </mat-list-item>
        <mat-list-item routerLink="/sensors" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>input</mat-icon><span i18n="@@sensors menu link">Sensors</span>
        </mat-list-item>
        <mat-list-item routerLink="/outputs" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>output</mat-icon><span i18n="@@outputs menu link">Outputs</span>
        </mat-list-item>
        <mat-list-item routerLink="/users" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>group</mat-icon><span i18n="@@users menu link">Users</span>
        </mat-list-item>

        <mat-accordion *ngIf="isAdminUser() && isLoggedIn()" class="menu">
          <mat-expansion-panel [expanded]="router.url.includes('/config/')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon matListItemIcon>settings</mat-icon><span i18n="@@admin menu title">Admin</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item routerLink="/config/syren" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null">
              <mat-icon matListItemIcon>volume_up</mat-icon><span i18n="@@syren menu link">Syren</span>
            </mat-list-item>
            <mat-list-item routerLink="/config/keypad" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null">
              <mat-icon matListItemIcon>grid_on</mat-icon><span i18n="@@keypad menu link">Keypad</span>
            </mat-list-item>
            <mat-list-item routerLink="/config/notifications" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null">
              <mat-icon matListItemIcon>send</mat-icon><span i18n="@@notifications menu link">Notifications</span>
            </mat-list-item>
            <mat-list-item routerLink="/config/network" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null">
              <mat-icon matListItemIcon>public</mat-icon><span i18n="@@network menu link">Network</span>
            </mat-list-item>
            <mat-list-item routerLink="/config/clock" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null">
              <mat-icon matListItemIcon>access_time</mat-icon><span i18n="@@clock menu link">Clock</span>
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-divider *ngIf="isLoggedIn()"></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>language</mat-icon>
          <mat-select [(value)]="currentLocale" (selectionChange)="onLocaleSelected($event)">
            <mat-option *ngFor="let locale of locales" [value]="locale.id">{{ locale.name }}</mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item [disableRipple]="true">
          <mat-icon matListItemIcon>invert_colors</mat-icon>
          <mat-slide-toggle (change)="onThemeSwitched($event)" [checked]="darkTheme" i18n="@@dark theme">Dark theme</mat-slide-toggle>
        </mat-list-item>

        <mat-list-item *ngIf="!isLoggedIn() && isDeviceRegistered" (click)="unregister()">
          <mat-icon matListItemIcon>disabled_by_default</mat-icon>
          <div mat-line i18n="@@unregister menu link">Unregister device</div>
        </mat-list-item>
        <mat-list-item routerLink="/setup" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="isMultiInstallation()">
          <mat-icon matListItemIcon>settings</mat-icon><span i18n="@@installations menu link">Installations</span>
        </mat-list-item>
        <mat-list-item routerLink="/setup" routerLinkActive="active" (click)="smallScreen ? sidenav.close() : null" *ngIf="!isMultiInstallation()">
          <mat-icon matListItemIcon>settings</mat-icon><span i18n="@@setup menu link">Setup</span>
        </mat-list-item>

        <mat-list-item routerLink="/login" routerLinkActive="active" (click)="logout(); smallScreen ? sidenav.close() : null" *ngIf="isLoggedIn()">
          <mat-icon matListItemIcon>exit_to_app</mat-icon>
          <div mat-line i18n="@@logout menu link">Logout</div>
          <div mat-line>({{ getUserName() }})</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper">
      <div id="overlay" *ngIf="disablePage"></div>

      <mat-card *ngIf="message && !displayLoader" class="message">
        <mat-card-content>
          <span>{{ message }}</span>
        </mat-card-content>
      </mat-card>

      <!-- main app container -->
      <div class="page">
        <!-- AJAX loading spinner triggered by the loader service -->
        <mat-progress-spinner *ngIf="displayLoader" class="ajax-loader" color="primary" mode="indeterminate" diameter="100"/>
        <router-outlet></router-outlet>
      </div>

      <!-- footer -->
      <div class="footer">
        <div class="links">
          <a href="https://www.arpi-security.info/" target="project">
            <button mat-button color="accent">ArPI Home Security</button>
          </a>
          |
          <a href="https://docs.arpi-security.info" target="">
            <button mat-button color="accent">DOCS</button>
          </a>
        </div>
        
        <div class="versions">
          <div class="version"><b>WebApp</b>&nbsp;{{versions.webapplicationVersion}}</div>
          <div class="version"><b>Server</b>&nbsp;{{versions.serverVersion}}</div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #snackbarTemplate>
  <div *ngIf="isSessionValid" i18n="@@session expiry">Your session will expire in {{ getSessionDuration() }}!</div>
  <div *ngIf="!isSessionValid" i18n="@@session expired">Your session expired, logged out!</div>
</ng-template>