@mixin home-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  component-controller {
    display: inline-block;
    width: 100%;
  }

  component-output {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }

  component-area {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
  
  mat-expansion-panel.alert {
    background-color: mat.get-color-from-palette($argus-alert);

    .mat-expansion-indicator::after {
      color: #ffffff;
    }

    mat-panel-title {
      mat-icon {
        margin: 0 15px 0 0;
      }
    
      mat-icon.blinking {
        /* blinking*/
        webkit-animation: 2s linear infinite condemed_blink_effect;
        animation: 2s linear infinite condemed_blink_effect;
      }
    }

    component-sensor {
      margin: 10px 0;
      display: block;
      width: 100%;
    }
  }

  .sensor-short-card.mat-card {
    margin-bottom: 15px;
  }

  @-webkit-keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }

    30% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }

  @keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }

    30% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }
}




