<div class="container">

  <div class="container-item controller">
    <component-controller
      [armState]="armState"
      [monitoringState]="monitoringState"
      [sensorAlert]="sensorAlert"
      [systemAlert]="alert != null"
      (armChanged)="armChanged($event)"
    />
  </div>

  <div *ngIf="outputs" class="container-item ">
    <component-output *ngFor="let output of outputs" [output]="output"/>
  </div>

  <div *ngIf="alert" class="container-item">
    <mat-expansion-panel class="alert" color="warn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matListIcon class="blinking material-icons-outlined">warning</mat-icon>
          <mat-icon matListIcon *ngIf="alert.silent" class="material-icons-outlined">volume_mute</mat-icon>
          <mat-icon matListIcon *ngIf="!alert.silent" class="material-icons-outlined">volume_up</mat-icon>
          <div>{{alert.startTime}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="column">
        <component-sensor *ngFor="let sensor of alert.sensors" [sensor]="sensor"/>
      </div>

    </mat-expansion-panel>
  </div>

  <div *ngIf="areas.length == 1">
    <component-sensor
      *ngFor="let sensor of sensors"
      [sensor]="sensor"
      [delay]="getSensorDelay(sensor.areaId, sensor.zoneId)"
    />
  </div>

  <div *ngIf="areas.length > 1">
    <component-area
      *ngFor="let area of areas;
      trackBy: areaIdentify"
      [area]="area"
      [sensors]="getSensors(area.id)"
      [delays]="getSensorDelays(area.id)"
      [monitoringState]="monitoringState"
    />
  </div>

</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='armed away'" i18n="@@home armed away">System armed away</span>
  <span *ngIf="action=='armed stay'" i18n="@@home armed stay">System armed stay</span>
  <span *ngIf="action=='disarmed'" i18n="@@home disarmed">System disarmed</span>
</ng-template>