@if (areas != null && sensors != null) {
  <div class="container">
    @if (areas.length > 0) {
      <div
        cdkDropList
        class="area-list"
        (cdkDropListDropped)="onDrop($event)"
        >
        @for (area of areas; track area) {
          <mat-card
            id="area-{{ area.id }}"
            cdkDrag
            (cdkDragStarted)="onDragStarted($event)"
            [cdkDragDisabled]="!userCanEdit()"
            ngClass="area-card container-item"
            >
            <mat-card-content>
              <mat-card-title>{{ area.name }}</mat-card-title>
              <mat-accordion multi>
                <mat-expansion-panel
                  class="sensors"
                  (opened)="sensorListOpened[area.id] = true"
                  (closed)="sensorListOpened[area.id] = false"
                  >
                  <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@area sensors">Sensors</mat-panel-title>
                    @if (!sensorListOpened[area.id]) {
                      <mat-panel-description
                        i18n="@@area number of sensors"
                        >
                {{ getSensors(area.id).length }} sensor(s)
              </mat-panel-description>
                    }
                  </mat-expansion-panel-header>
                  @if (getSensors(area.id).length > 0) {
                    <div>
                      <ul class="sensor-list">
                        @for (sensor of getSensors(area.id); track sensor) {
                          <li>
                            {{ sensor.name }}
                            @if (userCanEdit()) {
                              <button
                                mat-button
                                [routerLink]="['/sensor', sensor.id]"
                                routerLinkActive="active"
                                color="accent"
                                >
                                <mat-icon matListIcon>mode_edit</mat-icon>
                              </button>
                            }
                          </li>
                        }
                      </ul>
                    </div>
                  } @else {
                    <h3 i18n="@@area no sensors">No sensors</h3>
                  }
                </mat-expansion-panel>
                <mat-expansion-panel
                  class="outputs"
                  (opened)="outputListOpened[area.id] = true"
                  (closed)="outputListOpened[area.id] = false"
                  >
                  <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@area outputs">Outputs</mat-panel-title>
                    @if (!outputListOpened[area.id]) {
                      <mat-panel-description
                        i18n="@@area number of outputs"
                        >
                {{ getOutputs(area.id).length }} output(s)
              </mat-panel-description>
                    }
                  </mat-expansion-panel-header>
                  @if (getOutputs(area.id).length > 0) {
                    <div>
                      <ul class="output-list">
                        @for (output of getOutputs(area.id); track output) {
                          <li>
                            {{ output.name }}
                            @if (userCanEdit()) {
                              <button
                                mat-button
                                [routerLink]="['/output', output.id]"
                                routerLinkActive="active"
                                color="accent"
                                >
                                <mat-icon matListIcon>mode_edit</mat-icon>
                              </button>
                            }
                          </li>
                        }
                      </ul>
                    </div>
                  } @else {
                    <h3 i18n="@@area no outputs">No outputs</h3>
                  }
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
            <!-- spacer -->
            <mat-card-content><p></p></mat-card-content>
            @if (userCanEdit()) {
              <mat-divider></mat-divider>
            }
            @if (userCanEdit()) {
              <mat-card-actions>
                <!-- drag and drop icon button-->
                <button
                  mat-icon-button
                  cdkDragHandle
                  class="drag-handle"
          [disabled]="
            ![monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)
          "
                  >
                  <mat-icon>drag_indicator</mat-icon>
                </button>
                <button
                  mat-icon-button
                  [routerLink]="['/area', area.id]"
                  color="primary"
                  [disabled]="monitoringState != monitoringStates.READY"
                  >
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="openDeleteDialog(area.id)"
                  color="warn"
          [disabled]="
            getSensors(area.id).length > 0 ||
            getOutputs(area.id).length > 0 ||
            monitoringState != monitoringStates.READY
          "
                  >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            }
          </mat-card>
        }
      </div>
    } @else {
      <div class="container-item">
        <h1 class="empty" i18n="@@area none">No areas found</h1>
      </div>
    }
  </div>
}

@if (userCanEdit()) {
  <div class="list-actions">
    <button
      class="list-action"
      mat-fab
      color="accent"
      routerLink="/area/add"
      [disabled]="monitoringState != monitoringStates.READY"
      ngClass="false"
      >
      <mat-icon>add</mat-icon>
    </button>
    <button
      class="list-action"
      mat-mini-fab
      color="accent"
      routerLink="/area/add"
      [disabled]="monitoringState != monitoringStates.READY"
      ngClass="false"
      >
      <mat-icon>add</mat-icon>
    </button>
  </div>
}
