@charset "UTF-8";

@mixin area-list-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  .area-list {
    .empty {
      text-align: center;
    }
  }

  .cdk-drag {
    height: unset !important;
  }

  h3 {
    margin-bottom: 0px;
  }

  ul {
    margin-top: 0px;
  }
}
