
.syren-form {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.syren {
  margin: 2px 2px 10px 2px;
}

.timing {
  height: 80px;
}

.form-actions {
  .mat-mdc-progress-spinner {
    margin: 0px;
  }
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.mat-mdc-form-field {
  width: 100%;
}

.test-spinner {
  float: right;
  margin: 10px 10px;
}

.silent, .timing, .sensitivity {
  margin: 15px 0px;
}

::ng-deep .sensitivity .mat-checkbox label {
  margin-top: 15px;
}
