<div *ngIf="email != null && gsm != null && subscriptions != null">
  <form class="notifications-form" [formGroup]="notificationsForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="notifications-form" ngClass.xs="notifications-form-xs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">

    <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications email">Email</mat-panel-title>
          <mat-panel-description i18n="@@notifications email settings">Email settings for sending notifications</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="smtp_username" i18n-placeholder="@@notifications smtp username" placeholder="SMTP username">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input type="password" matInput formControlName="smtp_password" i18n-placeholder="@@notifications stmp password" placeholder="SMTP password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName="email_address" i18n-placeholder="@@notifications smtp email" placeholder="Email address">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications gsm">GSM</mat-panel-title>
          <mat-panel-description i18n="@@notifications gsm settings">Mobil settings for sending notifications</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="pin_code" i18n-placeholder="@@notifications sim card pin" placeholder="SIM card PIN code">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput formControlName="phone_number" i18n-placeholder="@@notifications target phone" placeholder="Target phone number">
        </mat-form-field>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications subscriptions">Subscriptions</mat-panel-title>
          <mat-panel-description i18n="@@notifications subscriptions settings">Configure subscriptions</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell" i18n="@@notifications source">Event</div>
            <div class="mat-header-cell" i18n="@@notifications send email">Send Email</div>
            <div class="mat-header-cell" i18n="@@notifications send sms">Send SMS</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications alert started">Alert started</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alert_started_email"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alert_started_sms"></mat-checkbox>
            </div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications alert stopped">Alert stopped</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alert_stopped_email"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alert_stopped_sms"></mat-checkbox>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != MonitoringState.READY" i18n="@@save button">Save</button>
  </form>
</div>
