<div *ngIf="smtp != null && gsm != null && subscriptions != null">
  <form class="notifications-form" [formGroup]="notificationsForm" (ngSubmit)="onSubmit()"
      ngClass.gt-xs="notifications-form" ngClass.xs="notifications-form-xs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">

    <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications smtp">SMTP</mat-panel-title>
          <mat-panel-description i18n="@@notifications smtp settings">SMTP settings for sending notifications</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="smtpUsername" i18n-placeholder="@@notifications smtp username" placeholder="SMTP username">
        </mat-form-field>
        
        <mat-form-field class="half-width">
          <input type="password" matInput formControlName="smtpPassword" (focus)="onPasswordFocus()" (blur)="onPasswordBlur()" i18n-placeholder="@@notifications stmp password" placeholder="SMTP password">
        </mat-form-field>
        
        <mat-form-field class="half-width">
          <input matInput formControlName="smtpHostname" i18n-placeholder="@@notifications smtp hostname" placeholder="SMTP hostname">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput formControlName="smtpPort" i18n-placeholder="@@notifications smtp port" placeholder="SMTP port">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName="email1Address" i18n-placeholder="@@notifications smtp email1" placeholder="Email address 1">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName="email2Address" i18n-placeholder="@@notifications smtp email2" placeholder="Email address 2">
        </mat-form-field>
        
        <div fxLayout="row" fxLayoutGap="20px">
          <button *ngIf="!smtpEnabled" mat-raised-button color="primary" type="button" (click)="onEnableSmtp()" [disabled]="monitoringState != monitoringStates.READY" i18n="@@notifications enable smtp">Enable SMTP</button>
          <button *ngIf="smtpEnabled == true" mat-raised-button color="accent" type="button" (click)="onDisableSmtp()" [disabled]="monitoringState != monitoringStates.READY" i18n="@@notifications disable smtp">Disable SMTP</button>
          <button mat-raised-button color="primary" type="button" (click)="onSendTestEmail()" [disabled]="monitoringState != monitoringStates.READY || notificationsForm.touched" i18n="@@notifications send test email">Send test email</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications gsm">GSM</mat-panel-title>
          <mat-panel-description i18n="@@notifications gsm settings">Mobil settings for sending notifications</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-width">
          <input matInput formControlName="pinCode" i18n-placeholder="@@notifications sim card pin" placeholder="SIM card PIN code">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput formControlName="phoneNumber" i18n-placeholder="@@notifications target phone" placeholder="Target phone number">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">
          <button *ngIf="!gsmEnabled" mat-raised-button color="primary" type="button" (click)="onEnableGsm()" [disabled]="monitoringState != monitoringStates.READY" i18n="@@notifications enable gsm">Enable GSM</button>
          <button *ngIf="gsmEnabled == true" mat-raised-button color="accent" type="button" (click)="onDisableGsm()" [disabled]="monitoringState != monitoringStates.READY" i18n="@@notifications disable gsm">Disable GSM</button>
          <button mat-raised-button color="primary" type="button" (click)="onSendTestSMS()" [disabled]="monitoringState != monitoringStates.READY || notificationsForm.touched" i18n="@@notifications send test sms">Send test SMS</button>
        </div>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="@@notifications subscriptions">Subscriptions</mat-panel-title>
          <mat-panel-description i18n="@@notifications subscriptions settings">Configure subscriptions</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell" i18n="@@notifications source">Event</div>
            <div class="mat-header-cell" i18n="@@notifications send email1">Send Email 1</div>
            <div class="mat-header-cell" i18n="@@notifications send email2">Send Email 2</div>
            <div class="mat-header-cell" i18n="@@notifications send sms">Send SMS</div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications alert started">Alert started</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStartedEmail1"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStartedEmail2"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStartedSms"></mat-checkbox>
            </div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications alert stopped">Alert stopped</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStoppedEmail1"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStoppedEmail2"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="alertStoppedSms"></mat-checkbox>
            </div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications power outage started">Power outage started</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStartedEmail1"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStartedEmail2"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStartedSms"></mat-checkbox>
            </div>
          </div>
          <div class="mat-row">
            <div class="mat-cell" i18n="@@notifications power outage stopped">Power outage stopped</div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStoppedEmail1"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStoppedEmail2"></mat-checkbox>
            </div>
            <div class="mat-cell">
              <mat-checkbox formControlName="powerOutageStoppedSms"></mat-checkbox>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="monitoringState != monitoringStates.READY" i18n="@@save button">Save</button>
  </form>
</div>


<ng-template #snackbarTemplateEmail>
  <div *ngIf="testEmailResult">
    <div [ngSwitch]="testEmailResult['email1']">
      <div *ngSwitchCase="true" i18n="@@notifications email1 success">Email sent successfully to email address 1!</div>
      <div *ngSwitchCase="false" i18n="@@email1 failed">Failed to send to email address 1!</div>
    </div>
    <div [ngSwitch]="testEmailResult['email2']">
      <div *ngSwitchCase="true" i18n="@@notifications email2 success">Email sent successfully to email address 2!</div>
      <div *ngSwitchCase="false" i18n="@@notifications email2 failed">Failed to send to email address 2!</div>
    </div>
  </div>
  <div *ngIf="testEmailResult['connection'] == false" i18n="@@notifications smtp connection failed">Failed to connect to SMTP server!<br/>Please check logs for more information!</div>
</ng-template>


<ng-template #snackbarTemplateSms>
  <div *ngIf="testSmsResult">
    <div [ngSwitch]="testSmsResult['phone1']">
      <div *ngSwitchCase="true" i18n="@@notifications phone1 success">SMS sent successfully to phone!</div>
      <div *ngSwitchCase="false" i18n="@@notifications phone1 failed">Failed to send SMS!</div>
    </div>
  </div>
  <div *ngIf="testSmsResult['connection'] == false" i18n="@@notifications sms connection failed">Failed to connect to GSM module!<br/>Please check logs for more information!</div>
</ng-template>
