<div *ngIf="user != null">
  <form *ngIf="user; else not_found" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" novalidate
      ngClass.gt-xs="user-form" ngClass.xs="user-form-xs" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select a role" formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Access code" formControlName="accessCode" type="password">
      <mat-error *ngIf="userForm.get('accessCode').invalid">{{userForm.get('accessCode').getError('invalid')}}</mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="userForm.invalid || armState != ArmType.DISARMED"
        i18n="@@save button">Save</button>
      <button *ngIf="userId > 0" mat-raised-button color="warn" type="button" (click)="openDeleteDialog(user.id)" [disabled]="armState != ArmType.DISARMED"
        i18n="@@remove button">Remove</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()"
        i18n="@@cancel button">Cancel</button>
    </div>

  </form>
  <ng-template #not_found>
    <h1>User not found!</h1>
  </ng-template>
</div>