@charset "UTF-8";

.mat-card-header {
  margin-bottom: 15px;
}

.user-list {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}

.user-list-xs {
  padding: 5px;
  width: 100%;
}

.user-actions {
  position: fixed;
  bottom: 85px;
  right: 20px;
  float: right;
}

.user-actions-xs {
  position: fixed;
  bottom: 85px;
  right: 20px;
  float: right;
}

.user-action {
  margin: 5px 0px;
  float: left;
  clear: both;
}

.mat-card-avatar {
  width: 60px;
  height: 60px;
}

.avatar {
  font-size: 60px;
}

.card-enabled {
  color: green;
}

.card-disabled {
  color: grey;
}

.header{
  padding-top: 10px;
  font-weight: bold;
}