<div [fxShow]="users !== null" fxLayout="row" fxLayoutAlign="center">
  <div *ngIf="users && users.length > 0; else no_users" fxLayout="column" fxLayoutGap="20px" fxFlex.gt-xs="600px" fxFlex.xs="100%">
    <mat-card *ngFor="let user of users">
      <mat-card-header>
        <mat-icon *ngIf="user.role === environment.ROLE_TYPES.ADMIN" mat-list-icon mat-card-avatar class="avatar">person</mat-icon>
        <mat-icon *ngIf="user.role === environment.ROLE_TYPES.USER" mat-list-icon mat-card-avatar class="avatar">person_outline</mat-icon>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="user.role === environment.ROLE_TYPES.ADMIN">Administrator</mat-card-subtitle>
        <mat-card-subtitle *ngIf="user.role === environment.ROLE_TYPES.USER">User</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/user', user.id]" color="primary" [disabled]="armState != ArmType.DISARMED"
          i18n="@@edit button">Edit</button>
        <button mat-button (click)="openDeleteDialog(user.id)" color="warn" [disabled]="armState != ArmType.DISARMED"
          i18n="@@remove button">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #no_users>
    <div ngClass.gt-xs="user-list" ngClass.xs="user-list-xs">
      <h1>No users found</h1>
    </div>
  </ng-template>

  <div class="user-actions">
    <button class="user-action" mat-fab color="accent" routerLink="/user/add" [disabled]="armState != ArmType.DISARMED" fxShow.xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
    <button class="user-action" mat-mini-fab color="accent" routerLink="/user/add" [disabled]="armState != ArmType.DISARMED" fxShow.gt-xs="false"><mat-icon mat-list-icon>add</mat-icon></button>
  </div>
</div>