<div *ngIf="user != null">
  <form *ngIf="user; else not_found" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" novalidate
      ngClass.gt-xs="user-form" ngClass.xs="user-form-xs" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select a role" formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New access code" formControlName="accessCode" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="userForm.get('accessCode').invalid">{{userForm.get('accessCode').getError('invalid')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Comment" formControlName="comment" type="text"></textarea>
    </mat-form-field>

    <!-- mat-checkbox formControlName="has_registration_code">Device registration<br/>{{user.registration_expiry}}</mat-checkbox-->

    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="userForm.invalid || monitoringState != MonitoringState.READY"
        i18n="@@save button">Save</button>
      <button *ngIf="userId > 0" mat-raised-button color="warn" type="button" (click)="openDeleteDialog(user.id)" [disabled]="monitoringState != MonitoringState.READY"
        i18n="@@remove button">Remove</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()"
        i18n="@@cancel button">Cancel</button>
    </div>

  </form>
  <ng-template #not_found>
    <h1>User not found!</h1>
  </ng-template>
</div>