@charset "UTF-8";

.user-list {
  padding: 15px;

  .empty {
    text-align: center;
  }
}


.mat-card-header {
  margin-bottom: 15px;
}

.user-card {
  .mat-card-title, .mat-card-subtitle{
    margin-left: 16px;
  }
  
  .mat-card-content {
    margin-bottom: 0px;
  }
}

.user-card-large {
  margin-right: auto;
  margin-left: auto;
  width: 350px !important;
}

.user-card-xs {
  min-width: 300px !important;
}

.user-actions {
  position: fixed;
  bottom: 85px;
  right: 20px;
  float: right;
}

.user-actions-xs {
  position: fixed;
  bottom: 65px;
  right: 20px;
  float: right;
}

.user-action {
  margin: 5px 0px;
  float: left;
  clear: both;
}

.mat-card-avatar {
  width: 60px;
  height: 60px;
}

.avatar {
  font-size: 60px;
}

.card-enabled {
  vertical-align: bottom;
  color: green;
}

.card-disabled {
  vertical-align: bottom;
  color: grey;
}

.card-description-disabled {
  text-decoration: line-through;
}

.header{
  padding-top: 10px;
  font-weight: bold;
}