
.user-form {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.user-form-xs {
  padding: 5px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.actions button {
  margin-right: 10px;
}