@import "~@angular/material/theming";

@import 'app/app.component.scss';
@import 'app/indicators/system-state.component.scss';
@import 'app/alert/alert-list.component.scss';
@import 'app/home/home.component.scss';

@include mat-core();

$argus-primary: mat-palette($mat-blue-grey);
$argus-accent:  mat-palette($mat-grey);
$argus-warn:    mat-palette($mat-red);
$argus-ok:      mat-palette($mat-light-green);

$argus-theme: mat-light-theme($argus-primary, $argus-accent, $argus-warn);

@mixin argus-theme($theme, $ok) {
  @include application-theme(theme);
  @include sensors-indicator-theme(theme, ok);
  @include arm-state-indicator-theme(theme, ok);
  @include syren-state-indicator-theme(theme, ok);
}

@include angular-material-theme($argus-theme);

@include application-theme($argus-theme);
@include system-state-indicator-theme($argus-theme, $argus-ok);
@include alert-list-theme($argus-theme, $argus-ok);
@include home-theme($argus-theme, $argus-ok);
