@use '@angular/material' as mat;

@include mat.core();

$argus-primary: mat.define-palette(mat.$indigo-palette, 500);
$argus-accent: mat.define-palette(mat.$orange-palette, A400, A100, A700);
$argus-warn: mat.define-palette(mat.$red-palette);

$argus-light-theme: mat.define-light-theme((
  color: (
    primary: $argus-primary,
    accent: $argus-accent,
    warn: $argus-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$argus-dark-theme: mat.define-dark-theme((
  color: (
    primary: $argus-primary,
    accent: $argus-accent,
    warn: $argus-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

.argus-light-theme {
  @include mat.all-component-themes($argus-light-theme);
}

.argus-dark-theme {
  @include mat.all-component-themes($argus-dark-theme);
}
