
.area-form {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.area-form-xs {
  padding: 5px;
  width: 100%;
}


.mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 15px 0px 10px 0px;
}
