<h1 mat-dialog-title i18n="@@user ssh key setup">Setup ssh key</h1>
<div mat-dialog-content>
  <form [formGroup]="setupKeyForm" class="container" [hidden]="privateKey != null">
    <mat-form-field>
      <label i18n="@@user ssh setup method">Setup method</label>
      <mat-select formControlName="setupMethod" (selectionChange)="onChangeSetupMethod($event)">
        @for (method of setupMethods; track method) {
          <mat-option [value]="method.value" required>
            {{ method.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      [class.cdk-visually-hidden]="setupKeyForm.controls.setupMethod.value === 'custom'"
      >
      <label i18n="@@user ssh key type">SSH key type</label>
      <mat-select formControlName="keyType">
        @for (keyType of keyTypes; track keyType) {
          <mat-option [value]="keyType.value" required>
            {{ keyType.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      [class.cdk-visually-hidden]="setupKeyForm.controls.setupMethod.value === 'custom'"
      >
      <label i18n="@@user ssh key passphrase">SSH key passphrase</label>
      <input matInput formControlName="passphrase" type="text" placeholder="Passphrase" />
    </mat-form-field>

    <mat-form-field
      [class.cdk-visually-hidden]="setupKeyForm.controls.setupMethod.value === 'generate'"
      >
      <label i18n="@@user ssh key public key">SSh public key</label>
      <input matInput formControlName="publicKey" type="text" placeholder="Public key" />
    </mat-form-field>
  </form>

  @if (privateKey) {
    <mat-form-field>
      <textarea matInput [(ngModel)]="privateKey" rows="10" readonly></textarea>
    </mat-form-field>
  }
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!setupKeyForm.valid || loading"
    [hidden]="setupKeyForm.controls.setupMethod.value === 'custom' || privateKey != null"
    (click)="generateKey()"
    tabindex="2"
    i18n="@@user generate ssh key"
    >
    Generate SSH key
  </button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!setupKeyForm.valid || privateKey || loading"
    [hidden]="setupKeyForm.controls.setupMethod.value === 'generate' || privateKey != null"
    (click)="setPublicKey()"
    tabindex="2"
    i18n="@@user setup ssh key"
    >
    Setup SSH key
  </button>

  <button
    mat-button
    (click)="onCopyKey(privateKey)"
    [hidden]="privateKey == null"
    tabindex="2"
    color="primary"
    i18n="@@user copy ssh key"
    >
    Copy key
  </button>

  <button mat-button (click)="onClickClose()" tabindex="-1" i18n="@@close button">Close</button>
</div>
