<div class="container">

  <div class="container-item controller">
    <mat-button-toggle-group id="arm-state-control" #group="matButtonToggleGroup" [name]="armState"
      [disabled]="armState == armTypes.UNDEFINED" multiple>
      <mat-button-toggle class="arm-away" value="AWAY" [checked]="[armTypes.AWAY, armTypes.MIXED].includes(armState)"
        [disabled]="isAwayDisabled()" (change)="armChanged($event)" i18n="@@arm away button">
        AWAY
      </mat-button-toggle>
      <mat-button-toggle class="disarm" value="DISARMED" [checked]="armState == armTypes.DISARMED && !alert"
        (change)="armChanged($event)" i18n="@@disarm button">
        OFF
      </mat-button-toggle>
      <mat-button-toggle class="arm-stay" value="STAY" [checked]="[armTypes.STAY, armTypes.MIXED].includes(armState)"
        [disabled]="isStayDisabled()" (change)="armChanged($event)" i18n="@@arm stay button">
        STAY
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="outputs" class="container-item ">
    <div *ngFor="let output of outputs">
      <mat-button-toggle [ngClass]="{output: true, active: output.state}" [checked]="output.state"
        [disabled]="isOutputDisabled(output)" (change)="toggleButton(output)">
        {{output.name}}
        <mat-progress-spinner *ngIf="output.duration != ENDLESS_DURATION && output.state" class="impulse-spinner"
          diameter="25" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-button-toggle>
    </div>
  </div>

  <div *ngIf="alert" class="container-item">
    <mat-expansion-panel class="alert" color="warn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matListIcon class="blinking material-icons-outlined">warning</mat-icon>
          <mat-icon matListIcon *ngIf="alert.silent" class="material-icons-outlined">volume_mute</mat-icon>
          <mat-icon matListIcon *ngIf="!alert.silent" class="material-icons-outlined">volume_up</mat-icon>
          <div>{{alert.startTime}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <sensor *ngFor="let sensor of alert.sensors" [sensor]="sensor"></sensor>

    </mat-expansion-panel>
  </div>

  <div *ngIf="areas.length == 1" class="container-item">
    <sensor *ngFor="let sensor of sensors" [sensor]="sensor" [delay]="getSensorDelay(sensor.areaId, sensor.zoneId)">
    </sensor>
  </div>

  <div *ngIf="areas.length > 1" class="container-item">
    <app-area *ngFor="let area of areas; trackBy: areaIdentify" [area]="area" [sensors]="getSensors(area.id)"
      [delays]="getSensorDelays(area.id)" [monitoringState]="monitoringState">
    </app-area>
  </div>

</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='armed away'" i18n="@@home armed away">System armed away</span>
  <span *ngIf="action=='armed stay'" i18n="@@home armed stay">System armed stay</span>
  <span *ngIf="action=='disarmed'" i18n="@@home disarmed">System disarmed</span>
</ng-template>