<div class="container">

  <div ngClass.gt-sm="home" ngClass.lt-md="home-small" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <div class="controller">
      <mat-button-toggle-group id="arm-state-control" #group="matButtonToggleGroup"
        [name]="armState"
        [disabled]="armState == armTypes.UNDEFINED"
        multiple
      >
        <mat-button-toggle class="arm-away" value="AWAY" [checked]="[armTypes.AWAY, armTypes.MIXED].includes(armState)"
          [disabled]="isAwayDisabled()"
          (change)="armChanged($event)" i18n="@@arm away button">
          AWAY
        </mat-button-toggle>
        <mat-button-toggle class="disarm" value="DISARMED" [checked]="armState == armTypes.DISARMED && !alert"
          (change)="armChanged($event)" i18n="@@disarm button">
          OFF
        </mat-button-toggle>
        <mat-button-toggle class="arm-stay" value="STAY" [checked]="[armTypes.STAY, armTypes.MIXED].includes(armState)"
          [disabled]="isStayDisabled()"
          (change)="armChanged($event)" i18n="@@arm stay button">
          STAY
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="alert" fxFill>
      <mat-expansion-panel class="alert" color="warn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/images/alarm_lamp_white.png" />
          </mat-panel-title>
          <mat-panel-description i18n="@@alert started">Alert started on: {{alert.startTime}}</mat-panel-description>
        </mat-expansion-panel-header>

        <sensor *ngFor="let sensor of alert.sensors" [sensor]="sensor"></sensor>

      </mat-expansion-panel>
    </div>

    <div *ngIf="areas.length == 1">
      <div fxFlex="column" fxFlexAlign="center" fxFill>
        <sensor *ngFor="let sensor of sensors" [sensor]="sensor" [delay]="getSensorDelay(sensor.areaId, sensor.zoneId)"></sensor>
      </div>
    </div>
    <div *ngIf="areas.length > 1">
      <div fxFlex="column" fxFlexAlign="center" fxFill>
        <app-area *ngFor="let area of areas"
          [area]="area"
          [sensors]="getSensors(area.id)"
          [delays]="getSensorDelays(area.id)"
          [sensorAlert]="sensorAlert"
          [monitoringState]="monitoringState"
          >
        </app-area>
      </div>
    </div>

  </div>

</div>

<ng-template #snackbarTemplate>
  <span *ngIf="action=='armed away'" i18n="@@home armed away">System armed away</span>
  <span *ngIf="action=='armed stay'" i18n="@@home armed stay">System armed stay</span>
  <span *ngIf="action=='disarmed'" i18n="@@home disarmed">System disarmed</span>
</ng-template>