@mixin home-theme($theme, $ok) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .container {
    margin: 20px auto 25px auto;
    min-width: 300px;
    max-width: 450px;

    padding: 5px;
    
    
    .controller {
      width: 100%;
      mat-button-toggle-group {
        width: 100%;
        .mat-button-toggle {
          width: 33%;
        }
      }
    }
  }

  .arm-away.mat-button-toggle-checked {
    background-color: #ed1010;
  }

  .disarm.mat-button-toggle-checked {
    background-color: map-get($ok, 600);
  }

  .arm-stay.mat-button-toggle-checked {
    background-color: #ffb600;
  }

  .mat-button-toggle {
    width: 100%;
    height: 100%;
    text-align: center;
  }


  .output.active {
    background-color: map-get($ok, 600);
  }
  
  mat-expansion-panel.alert {
    background-color: #ed1010;

    .mat-expansion-indicator::after {
      color: #ffffff;
    }

    mat-panel-title {
      color: #ffffff;

      mat-icon {
        margin: 0 15px 0 0;
      }
    
      mat-icon.blinking {
        /* blinking*/
        webkit-animation: 2s linear infinite condemed_blink_effect;
        animation: 2s linear infinite condemed_blink_effect;
      }
    }

    sensor {
      margin: 10px 0;
      display: block;
    }
  }

  .sensor-short-card.mat-card {
    margin-bottom: 15px;
  }

  @-webkit-keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }

    30% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }

  @keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }

    30% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }
}


.sensor-image {
  width: 120px;
  height: 120px;
}

.sensor-image img {
  width: 100%;
  height: 100%;
}

.impulse-spinner {
  float: right;
  margin: 10px 10px;
}
