@mixin home-theme($theme, $ok) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .container {
    padding: 30px 0px;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  #arm-away.mat-button-toggle-checked {
    background-color: #ed1010;
  }

  #disarm.mat-button-toggle-checked {
    background-color: map-get($ok, 600);
  }

  #arm-stay.mat-button-toggle-checked {
    background-color: #ffb600;
  }

  .mat-button-toggle {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  mat-expansion-panel.alert {
    margin-top: 20px;
    background-color: #ed1010;
  }

  .mat-expansion-panel-header-title {
    margin: auto 16px auto 0px;
  }

  mat-expansion-panel mat-panel-title img {
    width: 20px;
    height: 20px;

    /* blinking*/
    webkit-animation: 2s linear infinite condemed_blink_effect;
    animation: 2s linear infinite condemed_blink_effect;
  }

  .sensor-short-card.mat-card {
    margin-bottom: 15px;
  }

  @-webkit-keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }
    30% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }
    30% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}


.sensor-image {
  width: 120px;
  height: 120px;
}

.sensor-image img {
  width: 100%;
  height: 100%;
}
