<div class="container">
  <mat-card *ngIf="sensor" class="sensor-form container-item">
    <mat-card-content>
      <form [formGroup]="sensorForm" (ngSubmit)="onSubmit()" novalidate class="column">
        <mat-form-field>
          <mat-label i18n="@@sensor channel">Channel</mat-label>
          <mat-select
            formControlName="channel"
            i18n-placeholder="@@sensor channel"
            placeholder="Channel"
          >
            <mat-option
              *ngFor="let channel of orderedChannels()"
              [value]="channel.channel"
              [disabled]="channel.sensor != null"
            >
              <span *ngIf="channel.channel === -1" i18n="@@sensor disconnected">Disconnected</span>
              <span *ngIf="channel.channel !== -1">
                <span>CH{{ channel.channel + 1 | number: '2.0-0' }}</span>
                <span *ngIf="channel.sensor != null">- {{ channel.sensor.description }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@sensor type">Sensor type</mat-label>
          <mat-select
            formControlName="typeId"
            i18n-placeholder="@@sensor type"
            placeholder="Sensor type"
            (selectionChange)="onSensorTypeChanged($event)"
          >
            <mat-option *ngFor="let type of sensorTypes" [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@sensor name">Name</mat-label>
          <input matInput formControlName="name" required maxlength="16" />
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@description">Description</mat-label>
          <textarea
            matInput
            i18n-placeholder="@@description"
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <div class="row">
          <mat-checkbox formControlName="enabled" color="primary" i18n="@@sensor enabled">Enabled</mat-checkbox>
          <mat-checkbox formControlName="hidden" color="primary" i18n="@@sensor hidden">Hidden</mat-checkbox>
        </div>

        <!-- START split divider and label for using the gaps of the parent flex layout -->
        <div *ngIf="boardVersion >= 2">
          <mat-divider></mat-divider>
        </div>

        <div *ngIf="boardVersion >= 2">
          <mat-label i18n="@@sensor settings">Sensor settings</mat-label>
        </div>
        <!-- END split divider and label for using the gaps of the parent flex layout -->

        <div *ngIf="boardVersion >= 2">
          <div class="row-wrap sensor-settings">
            <mat-form-field>
              <mat-label i18n="@@sensor channel type">Channel type</mat-label>
              <mat-select
                formControlName="channelType"
                i18n-placeholder="@@sensor channel type"
                placeholder="Channel type"
                (selectionChange)="onChannelTypeChanged($event)"
              >
              <mat-option [value]="channelTypes.BASIC" i18n="@@sensor channel basic">Basic</mat-option>
              <mat-option [value]="channelTypes.NORMAL" i18n="@@sensor channel normal">Normal</mat-option>
                <mat-option [value]="channelTypes.CHANNEL_A" i18n="@@sensor channel a">Channel A</mat-option>
                <mat-option [value]="channelTypes.CHANNEL_B" i18n="@@sensor channel b">Channel B</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label i18n="@@sensor contact type">Contact type</mat-label>
              <mat-select
                formControlName="sensorContactType"
                i18n-placeholder="@@sensor contact type"
                placeholder="Contact type"
              >
                <mat-option [value]="sensorContactTypes.NC" i18n="@@sensor contact nc">Normally Closed (NC)</mat-option>
                <mat-option [value]="sensorContactTypes.NO" i18n="@@sensor contact no">Normally Open (NO)</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label i18n="@@sensor eol count">EOL count</mat-label>
              <mat-select
                formControlName="eolCount"
                i18n-placeholder="@@sensor eol count"
                placeholder="EOL count"
              >
                <mat-option [value]="eolCounts.SINGLE" i18n="@@sensor eol single">Single EOL</mat-option>
                <mat-option [value]="eolCounts.DOUBLE" i18n="@@sensor eol double">Double EOL</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-divider></mat-divider>

        <label i18n="@@sensor syren">Syren config</label>
        <mat-radio-group class="silent" formControlName="silentAlert">
          <mat-radio-button value="undefined">
            <span i18n="@@sensor silent undefined">System setting</span>
          </mat-radio-button>
          <mat-radio-button value="loud">
            <span i18n="@@sensor silent loud">Loud alarm</span>
          </mat-radio-button>
          <mat-radio-button value="silent">
            <span i18n="@@sensor silent alert">Silent alert</span>
          </mat-radio-button>
        </mat-radio-group>

        <mat-divider></mat-divider>

        <label i18n="@@sensor sensitivity">Sensor sensitivity</label>
        <div class="sensitivity">
          <mat-radio-group formControlName="sensitivity" (change)="onSensitivityChanged($event)">
            <mat-radio-button value="undefined">
              <span i18n="@@sensor sensitivity undefined">System setting</span>
            </mat-radio-button>
            <mat-radio-button value="instant">
              <span i18n="@@sensor sensitivity instant">Instant alert</span>
            </mat-radio-button>
            <mat-radio-button value="custom">
              <span i18n="@@sensor sensitivity custom">Custom</span>
            </mat-radio-button>
          </mat-radio-group>

          <div *ngIf="sensorForm.value.sensitivity === 'custom'" class="row">
            <mat-form-field>
              <mat-label i18n="@@sensor monitor period">Monitoring period [s]</mat-label>
              <input matInput formControlName="monitorPeriod" type="number" min="1" required />
            </mat-form-field>

            <mat-form-field>
              <mat-label i18n="@@sensor monitor threshold">Monitoring threshold [%]</mat-label>
              <input
                matInput
                formControlName="monitorThreshold"
                type="number"
                min="0"
                max="100"
                required
              />
            </mat-form-field>
          </div>
        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span i18n="@@sensor area form">Area</span>
                <mat-icon *ngIf="areaForm.invalid" class="warning">warning</mat-icon>
                <span *ngIf="!areaForm.invalid">&nbsp;({{ getAreaName() || '-' }})</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
              <mat-form-field id="areaId">
                <mat-select
                  formControlName="areaId"
                  i18n-placeholder="@@sensor area"
                  placeholder="Area"
                  (selectionChange)="onAreaSelected($event.value)"
                >
                  <mat-option *ngFor="let area of areas" [value]="area.id">
                    {{ area.name }}
                  </mat-option>
                  <mat-option [value]="-1" i18n="@@sensor new area">New</mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="sensor.areaId === -1">
                <form [formGroup]="areaForm">
                  <mat-form-field class="area-name-field">
                    <input
                      matInput
                      i18n-placeholder="@@area name"
                      placeholder="Area name"
                      formControlName="areaName"
                      required
                    />
                  </mat-form-field>
                </form>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="title" i18n="@@sensor zone form">Zone</span>
                <mat-icon *ngIf="zoneForm.invalid" class="warning">warning</mat-icon>
                <span *ngIf="!zoneForm.invalid">&nbsp;({{ getZoneName() || '-' }})</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field id="zoneId">
              <mat-select
                formControlName="zoneId"
                i18n-placeholder="@@sensor zone"
                placeholder="Zone"
                (selectionChange)="onZoneSelected($event.value)"
              >
                <mat-option *ngFor="let zone of zones" [value]="zone.id">
                  {{ zone.name }}
                </mat-option>
                <mat-option [value]="-1" i18n="@@sensor new zone">New</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="sensor.zoneId === -1">
              <form [formGroup]="zoneForm">
                <div class="column">
                  <mat-form-field>
                    <input
                      matInput
                      i18n-placeholder="@@zone name"
                      placeholder="Zone name"
                      formControlName="zoneName"
                      required
                    />
                  </mat-form-field>

                  <mat-checkbox
                    formControlName="disarmedAlert"
                    color="primary"
                    (change)="alertWhenChanged($event, 'disarmedDelay')"
                    i18n="@@sensor alert disarmed"
                  >
                    Alert when disarmed
                  </mat-checkbox>
                  <mat-form-field *ngIf="zoneForm.get('disarmedAlert').value">
                    <input
                      matInput
                      i18n-placeholder="@@zone disarmed delay"
                      placeholder="Delay alert when not armed"
                      formControlName="disarmedDelay"
                    />
                    <mat-error *ngIf="zoneForm.get('disarmedDelay').invalid">
                      {{ zoneForm.get('disarmedDelay').getError('invalid') }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-divider></mat-divider>

                <mat-checkbox
                  formControlName="awayArmedAlert"
                  color="primary"
                  (change)="alertWhenChanged($event, 'awayAlertDelay')"
                  i18n="@@sensor alert away"
                >
                  Alert when away armed
                </mat-checkbox>
                <div class="row">
                  <mat-form-field *ngIf="zoneForm.get('awayArmedAlert').value">
                    <input
                      matInput
                      i18n-placeholder="@@zone away alert delay"
                      placeholder="Delay alert when armed away"
                      formControlName="awayAlertDelay"
                    />
                    <mat-error *ngIf="zoneForm.get('awayAlertDelay').invalid">
                      {{ zoneForm.get('awayAlertDelay').getError('invalid') }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field *ngIf="zoneForm.get('awayArmedAlert').value">
                    <input
                      matInput
                      i18n-placeholder="@@zone away arm delay"
                      placeholder="Delay arm when arming away"
                      formControlName="awayArmDelay"
                    />
                    <mat-error *ngIf="zoneForm.get('awayAlertDelay').invalid">
                      {{ zoneForm.get('awayArmDelay').getError('invalid') }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-divider></mat-divider>

                <mat-checkbox
                  formControlName="stayArmedAlert"
                  color="primary"
                  (change)="alertWhenChanged($event, 'stayAlertDelay')"
                  i18n="@@sensor alert stay"
                >
                  Alert when stay armed
                </mat-checkbox>
                <div class="row">
                  <mat-form-field *ngIf="zoneForm.get('stayArmedAlert').value">
                    <input
                      matInput
                      i18n-placeholder="@@zone stay alert delay"
                      placeholder="Delay alert when armed stay"
                      formControlName="stayAlertDelay"
                    />
                    <mat-error *ngIf="zoneForm.get('stayAlertDelay').invalid">
                      {{ zoneForm.get('stayAlertDelay').getError('invalid') }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field *ngIf="zoneForm.get('stayArmedAlert').value">
                    <input
                      matInput
                      i18n-placeholder="@@zone stay arm delay"
                      placeholder="Delay arm when arming stay"
                      formControlName="stayArmDelay"
                    />
                    <mat-error *ngIf="zoneForm.get('stayAlertDelay').invalid">
                      {{ zoneForm.get('stayArmDelay').getError('invalid') }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
      <button
        mat-icon-button
        color="primary"
        [disabled]="
          sensorForm.invalid ||
          sensorForm.pristine ||
          ![monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)
        "
        (click)="onSubmit()"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        *ngIf="sensorId > 0"
        mat-icon-button
        color="warn"
        type="button"
        (click)="openDeleteDialog(sensor.id)"
        [disabled]="
          ![monitoringStates.READY, monitoringStates.INVALID_CONFIG].includes(monitoringState)
        "
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="warn" type="button" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="sensor === null" class="container-item">
    <h1 i18n="@@sensor not found">The sensor was not found!</h1>
  </div>
</div>
