@use "@angular/material" as mat;

@mixin sensor-list-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  .sensor-card {
    .mat-mdc-card-subtitle.error-text {
      display: flex;
      align-items: center;

      .error-icon {
        margin-right: 8px;
        color: mat.m2-get-color-from-palette($argus-alert);
      }
    }

    .attributes {
      width: 100%;
      overflow: hidden;

      .attributes-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;

        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .mdc-list {
        padding: 0;
      }

      .attribute-list {
        margin: 0 0 auto;

        .mat-mdc-list-item {
          height: 30px;

          .mat-icon {
            margin-right: 16px;
          }

          .mat-list-item-content {
            padding-left: 16px;
          }

          .long-field {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    .sensor-image {
      height: fit-content;
      margin-bottom: 10px;
      border-radius: 50%;
      border: 1px solid black;

      &.alerting {
        background-color: mat.m2-get-color-from-palette($argus-alert);
      }

      &.error {
        background-color: mat.m2-get-color-from-palette($argus-warn);
      }

      img {
        .argus-dark-theme & {
          filter: invert(1);
        }
      }
    }

    .sensor-icon {
      width: 100%;
      opacity: 0.5;
    }

    .sensor-status-icon-enabled {
      color: mat.m2-get-color-from-palette($argus-ok);
    }

    &.disabled {
      background-color: rgb(160, 160, 160);
    }
  }

  .empty {
    text-align: center;
  }
}
