.sensor-form {
  margin: 15px auto;
  max-width: 600px;

  .sensor-settings {
    .mat-mdc-form-field {
      width: 180px;
    }
  }
}

#zoneId {
  margin-top: 15px;
}

#areaId {
  margin-top: 15px;
}

.mat-mdc-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 15px 0px 10px 0px;
}

.hide {
  display: none;
}

.actions button {
  margin-right: 10px;
}

mat-expansion-panel-header .title {
  margin: auto 0px;
}

.warning {
  vertical-align: middle;
  margin: auto 10px;
}

.area-name-field {
  margin-top: 15px;
}

.silent {
  margin: 0px;
}

.sensitivity {
  margin: 0px;
}

mat-accordion {
  margin-bottom: 15px;
}
