.sensor-form {
  margin: 15px auto;
  padding: 15px;
  width: 600px;
}

#zoneId {
  margin-top: 15px;
}

#areaId {
  margin-top: 15px;
}

.mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 15px 0px 10px 0px;
}

.hide {
  display: none;
}

.actions button {
  margin-right: 10px;
}

mat-expansion-panel-header .title {
  margin: auto 0px;
}

.warning {
  vertical-align: middle;
  margin: auto 10px;
}

.area-name-field {
  margin-top: 15px;
}

.silent {
  margin: 15px 0px;
}

.sensitivity {
  margin: 15px 0px;
}
