<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngSwitch]="sensor.typeId" [ngClass]="{'sensor-image': true, 'alerting': sensor.alert}">
      <img *ngSwitchCase="1" src="assets/images/sensor_motion.png" />
      <img *ngSwitchCase="2" src="assets/images/sensor_tamper.png" />
      <img *ngSwitchCase="3" src="assets/images/sensor_open.png" />
      <img *ngSwitchCase="4" src="assets/images/sensor_break.png" />
      <img *ngSwitchDefault src="https://via.placeholder.com/100?text={{getSensorTypeName(sensor.typeId)}}" />
    </div>
    <mat-card-title>
      {{sensor.description}}
    </mat-card-title>
    <mat-card-subtitle>
      CH{{ sensor.channel + 1 | number: '2.0-0'}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>