@mixin sensor-theme($theme, $argus-ok, $argus-alert, $argus-warn) {
  .mat-mdc-card.sensor-component {
    .mat-mdc-card-header {
      padding: 16px;
    }

    .mat-mdc-card-title-group {
      margin-left: 15px;
    }

    .sensor-state {
      -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      border-radius: 22px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: auto 10px;
      text-align: center;
    }

    .sensor-state.enabled {
      background-color: mat.m2-get-color-from-palette($argus-ok);
    }
    
    .sensor-state.disabled {
      background-color: rgb(160, 160, 160);
    }

    .sensor-image {
      margin: 5px;

      img {
        width: 100%;
      }
    }

    .sensor-image.disabled {
      -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      border-radius: 22px;
      background-color: rgb(160, 160, 160);
    }

    .sensor-image.alerting {
      -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
      background-color: mat.m2-get-color-from-palette($argus-warn);
      border-radius: 22px;
      background-color: mat.m2-get-color-from-palette($argus-alert);
    }
  }
}

.argus-dark-theme .mat-mdc-card.sensor-component .sensor-image img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
