
.keypad-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.keypad {
  margin: 2px 2px 10px 2px;
}

ng2-timezone-picker {
  display: inline-block;
}


.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

